# Development files
_source/
_test/
_test*.*
_todo.txt
/.scratch

# SASS
.sass-cache/
*.css.map
*.sass.map
*.scss.map
tc-vector.css
tc-vector.css.map

# OS
.DS_Store
Icon[^M]
!TombaClub/assets/icons
Thumbs.db
