@charset "utf-8";
@use 'sass:math';

@media only screen and (max-width: 950px) and (min-width: 801px) {
  #mw-navigation #mw-panel #p-logo {
    left: calc(40vw - 80px);
  }
}


@media only screen and (max-width: 800px) {
  #content.mw-body {
    top: $layout-responsive-offset-y;
  }
  #mw-navigation {
    #mw-panel {
      top: calc(($layout-height-nav-logo + $layout-height-nav-main + $layout-height-nav-sub + $layout-inset-content) + $layout-responsive-offset-y);

      #p-logo {
        top: calc((($layout-height-nav-logo + $layout-height-nav-main + $layout-height-nav-sub + $layout-inset-content) * -1) - $layout-responsive-offset-y);
        left: 0;
        width: calc(100vw - $layout-left-inset-content - $layout-left-inset-content);
        min-width: $layout-minimum-width;
        

        a.mw-wiki-logo {
          margin: auto;
        }
      }
    }
    #mw-head {
      height: calc(($layout-height-nav-logo + $layout-height-nav-main + $layout-height-nav-sub) + $layout-responsive-offset-y);

      #left-navigation, #right-navigation {
        top: $layout-responsive-offset-y;
        position: relative;
      }
      #right-navigation {
        height: 2.8em;
        overflow: hidden;
        transition: height 150ms;

        #p-cactions {
          display: none;
        }

        #p-views {
          height: auto;

          #p-views-label {
            display: block;
            padding: 0;
            margin: 0;

            > span {
              @include subnav-item;
              width: #{math.div($icon-width, $layout-font-size-nav-sub)}em;
              text-indent: -9999px;
              position: absolute;
              font-size: 3.6vw;
              font-weight: normal;
              background-image: make-icon-url('three-bars', $color-cobalt);
              background-repeat: no-repeat;
              background-position: center;
              top: 0;
              right: 0;
              cursor: pointer;
            }
            &::before {
              font-size: 3.6vw;
              content: '';
              width: auto;
              display: block;
              position: absolute;
              inset: 0.5em 0.25em;
              border-radius: 3px;
              background-image: none;
              opacity: 1;
            }
          }

          .vector-menu-content {
            .vector-menu-content-list {
              li {
                display: block;
                float: none;

                a {
                  margin-top: -0.5em;
                  margin-left: ($nav-item-padding) - $highlight-padding;
                }
                &:first-child a {
                  margin-top: 0;
                }
              }
            }
          }
        }
      }
      #p-personal {
        top: calc(($layout-height-nav-main + 1em) + $layout-responsive-offset-y);
        //top: calc($layout-height-nav-main + 1em);
    
        .vector-menu-content {
          position: relative;
          top: -1px;
          left: -$layout-rounding-content;
    
          .vector-menu-content-list {
            border-bottom: none;
            border-radius: 6px 6px 0 0;
    
            li {
              line-height: calc((2.1em * 0.75) - 1px);
            }
          }
        }
      }
    }
  }

  #footer {
    margin-left: $layout-left-inset-content;
    margin-right: $layout-right-inset-content;
    padding-left: 0;
    padding-bottom: 3em;

    #footer-icons {
      position: static;
      margin: 0;
      float: none;
      clear: both;
      padding-top: 0.5em;

      li:first-child {
        margin-left: 0;
      }
    }
  }

  @if ($layout-remove-subnav-icons) {
    #mw-navigation #mw-head #right-navigation #p-views {
      li a {
        padding-left: $nav-item-padding !important;

        &::before {
          display: none;
        }
      }
    }
  }

  @if ($layout-remove-left-bar-icons) {
    #mw-navigation #mw-panel .mw-portlet .vector-menu-content .vector-menu-content-list li {
      a {
        padding-left: $layout-side-nav-header-offset-left !important;
        padding-right: $layout-side-nav-header-offset-right !important;

        &::before {
          display: none;
        }
      }
    }
  }

  // Move the left bar away down below.
  @if ($layout-move-left-bar-on-responsive) {
    #mw-navigation {
      #mw-head {
        #p-personal {
          .vector-menu-content {
            .vector-menu-content-list {
              display: block;
              text-align: center;
              a {
                padding-top: 0.1em !important;
                padding-bottom: 0.2em !important;
              }
            }
            li {
              display: inline-block !important;
              float: none;
            }
            #pt-userpage a {
              text-indent: -9999px;
            }
            #pt-mytalk::after {
            }
            #pt-preferences {
            }
          }
        }
        #right-navigation {
          #p-search {
            position: absolute;
            top: calc(($layout-height-nav-main * -1) - 1px);
            height: $layout-height-nav-main;
            right: 0;
            z-index: 50;
            margin-right: 0;
  
            #searchform {
              width: 15em;
              height: $layout-height-nav-main;
  
              #simpleSearch {
                width: 100%;
  
                #searchInput {
                  border: none;
                  height: $layout-height-nav-main;
                  box-shadow: inset 0 0 0 2px mix(#000, $color-outer-bg-top, 30%);

                }
                &:hover #searchInput {
                  box-shadow: inset 0 0 0 2px $color-cobalt;
                }
                #mw-searchButton {
                  height: $layout-height-nav-main;
                  top: 0;
                }
              }
            }
          }
        }
      }
      #mw-panel {
        position: static;
        margin-top: $layout-padding-v-content + $layout-padding-v-content + $layout-inset-content;
        margin-bottom: $layout-padding-v-content;
        padding-bottom: $layout-padding-v-content + $layout-padding-v-content;
        padding-top: $layout-padding-v-content;
        border-bottom: 1px solid white;
        margin-left: $layout-left-inset-content;
        display: flex;
        width: calc(100% - $layout-left-inset-content - $layout-left-inset-content);
        gap: 2em;
        flex-direction: column;

        #p-logo {
          top: 0;
          left: 0;
        }
        .mw-portlet {
          padding-top: 0 !important;
          flex: 1 0 100%;

          .vector-menu-heading {
            padding-left: 0;
            padding-right: 0;

            span {
              background: $color-dandelion;
              color: rgba(0, 0, 0, 0.65);
              border-bottom-color: rgba(0, 0, 0, 0.65);
            }
          }
          
          .vector-menu-content .vector-menu-content-list li a {
            color: white;
            padding-left: $layout-side-nav-header-offset-left;

            &:hover {
              color: white;
            }
          }
        }
      }
    }
    #content.mw-body {
      padding-left: $layout-padding-h-content;

      &::before {
        left: 0;
        right: 0;
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: $layout-rounding-content;
      }
    }
  }

  // Move the user bar to the top.
  @if ($layout-move-personal-bar-on-responsive) {
    #content.mw-body {
      top: calc($layout-height-nav-main - $layout-inset-content + $layout-responsive-offset-y);
    }
    #mw-navigation {
      #mw-panel {
        #p-logo {
          top: $layout-height-nav-main + 0.1em;
        }
      }
      #mw-head {
        #p-personal {
          position: relative;
          top: 0;
          right: 0;
          height: $layout-height-nav-main;

          .vector-menu-content {
            top: 0;
            left: 0;

            .vector-menu-content-list {
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}
