@use "sass:color";
@use 'sass:math';
@use "../defaults";
@use "../icons";
@use "../layout";
@use "../colorize";

@media only screen and (max-width: 800px) {
  body {
    background-size: 100% 1000px;
  }
  #mw-navigation {
    #mw-panel {
      top: calc((defaults.$layout-height-nav-logo + defaults.$layout-height-nav-main + defaults.$layout-height-nav-sub + defaults.$layout-inset-content) + defaults.$layout-responsive-offset-y);

      #p-Tomba_Wiki {
        display: none;
      }
      
      #p-logo {
        top: calc(((defaults.$layout-height-nav-logo + defaults.$layout-height-nav-main + defaults.$layout-height-nav-sub + defaults.$layout-inset-content) * -1) - defaults.$layout-responsive-offset-y);
        left: 0;
        width: 100%;
        min-width: defaults.$layout-minimum-width;
        

        a.mw-wiki-logo {
          margin: auto;
        }
      }
    }
  }

  #footer {
    margin-left: defaults.$layout-left-inset-content;
    margin-right: defaults.$layout-right-inset-content;
    padding-left: 0;
    padding-bottom: 3em;

    #footer-icons {
      position: static;
      margin: 0;
      float: none;
      clear: both;
      padding-top: 0.5em;

      li {
        margin-left: 0;
        margin-right: 0.5em;
      }
    }
    #footer-places {
      #footer-places-tc_copyright {
        position: relative;
        float: none;
        clear: both;
        padding: 0 0 1.5em 0;
        margin: 0;
        left: 0;
      }
    }
  }

  .mw-parser-output {
    .mw-editsection {
      float: right;
      display: block;
      margin: 0;
      position: relative;
      top: 1.35em;
    }
    h2 .mw-editsection {
      top: 1.35em;
    }
    h3 .mw-editsection {
      top: 1.2em;
    }
    h4, h5, h6 {
      .mw-editsection {
        top: 0.95em;
      }
    }
  }

  @if (defaults.$layout-remove-subnav-icons) {
    #mw-navigation #mw-head #right-navigation #p-views {
      li a {
        padding-left: layout.$nav-item-padding !important;

        &::before {
          display: none;
        }
      }
    }
  }

  @if (defaults.$layout-remove-left-bar-icons) {
    #mw-navigation #mw-panel .mw-portlet .vector-menu-content .vector-menu-content-list li {
      a {
        padding-left: 1.75em !important;
        padding-right: defaults.$layout-side-nav-header-offset-right !important;

        &:hover::before {
          filter: colorize.colorize-white();
        }
        &::before {
          filter: colorize.colorize-white();
          left: 0.5em;
        }
      }
    }
  }

  // Move the left bar away down below.
  @if (defaults.$layout-move-left-bar-on-responsive) {
    #mw-navigation {
      #mw-head {
        #p-personal {
          .vector-menu-content {
            .vector-menu-content-list {
              display: block;
              text-align: center;
              a {
                padding-top: 0.1em !important;
                padding-bottom: 0.2em !important;
              }
            }
            li {
              display: inline-block !important;
              float: none;
            }
            #pt-userpage a {
              text-indent: -9999px;
            }
            #pt-mytalk::after {
            }
            #pt-preferences {
            }
          }
        }
        #right-navigation {
          #p-search {
            position: absolute;
            top: calc((defaults.$layout-height-nav-main * -1) - 1px);
            height: defaults.$layout-height-nav-main;
            right: 0;
            z-index: 50;
            margin-right: 0;
  
            #searchform {
              width: 15em;
              height: defaults.$layout-height-nav-main;
  
              #simpleSearch {
                width: 100%;
  
                #searchInput {
                  border: none;
                  height: defaults.$layout-height-nav-main;
                  box-shadow: inset 0 0 0 2px color.mix(#000, defaults.$color-outer-bg-top, 30%);
                }
                &:hover #searchInput {
                  box-shadow: inset 0 0 0 2px defaults.$color-cobalt;
                }
                #searchButton {
                  height: defaults.$layout-height-nav-main;
                  top: 0;
                }
              }
            }
          }
        }
      }
      #mw-panel {
        position: static;
        margin-top: 1.5em;
        margin-bottom: defaults.$layout-padding-v-content;
        padding-bottom: defaults.$layout-padding-v-content + defaults.$layout-padding-v-content;
        padding-top: defaults.$layout-padding-v-content;
        border-bottom: 1px solid white;
        margin-left: defaults.$layout-left-inset-content;
        display: grid;
        width: calc(100% - defaults.$layout-left-inset-content - defaults.$layout-left-inset-content);
        gap: defaults.$layout-left-inset-content;
        grid-template-columns: 1fr 1fr 1fr;

        #p-logo {
          top: 0;
          left: 0;
          margin-bottom: 1em;
        }
        .mw-portlet {
          padding-top: 0 !important;
          margin-bottom: 1em;
          flex: 1 0 100%;

          .vector-menu-heading {
            padding-left: 0;
            padding-right: 0;

            span {
              background: defaults.$color-dandelion;
              color: defaults.$color-black;
              padding-bottom: calc(0.25em + 2px);
              border-bottom: 0;
              box-shadow: inset 0 -2px 0 0 defaults.$color-black;
              //border-bottom-color: defaults.$color-black;
            }
          }
          
          .vector-menu-content .vector-menu-content-list li {
            a {
              color: white;
              padding-left: defaults.$layout-side-nav-header-offset-left;
  
              &:hover {
                color: white;
              }
            }
            &.active-link a {
              color: defaults.$color-dandelion;

              &::before {
                filter: colorize.colorize-dandelion();
              }
            }
          }
        }
      }
    }
    #content.mw-body {
      padding-left: defaults.$layout-padding-h-content;
      padding-right: defaults.$layout-padding-h-content;

      &::before {
        left: 0;
        right: 0;
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: defaults.$layout-rounding-content-outer;
        border-bottom-right-radius: defaults.$layout-rounding-content-outer;
      }
    }
  }

  // Move the user bar to the top.
  @if (defaults.$layout-move-personal-bar-on-responsive) {
    #content.mw-body {
      top: 0.75em;
      background-color: defaults.$color-white;
    }
    #mw-navigation {
      #mw-panel {
        #p-logo {
          top: defaults.$layout-height-nav-main - 0.2em;
        }
      }
      #mw-head {
        #p-personal {
          position: relative;
          top: 0;
          right: 0;
          height: defaults.$layout-height-nav-main;

          .vector-menu-content {
            top: 0;
            left: 0;
            position: relative;

            .vector-menu-content-list {
              border-bottom: none;
              border-radius: 0;
      
              li {
                line-height: calc((2.1em * 0.75) - 1px);
              }
            }
          }
        }
      }
    }
  }
}
