@use 'sass:math';
@use "../defaults";
@use "../icons";
@use "../layout";
@use "../colorize";

// For smaller tablet sizes.
@media only screen and (max-width: 660px) {
  .mw-parser-output {
    // Make sure all boxes and thumbs don't float.
    .box.tright,
    .thumb.tright,
    .thumb.tleft {
      float: none;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      max-width: unset;

      .thumbinner {
        box-sizing: border-box;
        width: 100% !important;
        margin-left: 0;
        margin-right: 0;

        .thumbimage {
          width: 100%;
        }
      }
    }
  }
  #mw-navigation {
    #mw-panel {
      grid-template-columns: 1fr 1fr !important;
      margin-top: 3.5em !important;
    }
    #p-Social_Media {
      display: none;
    }
  }
  body {
    #content.mw-body {
      top: 2.8em;
    }
  }
  // This turns on the responsive menu.
  #mw-navigation {
    #mw-head {
      height: calc((defaults.$layout-height-nav-logo + defaults.$layout-height-nav-main + defaults.$layout-height-nav-sub) + defaults.$layout-responsive-offset-y);

      #left-navigation, #right-navigation {
        top: defaults.$layout-responsive-offset-y;
        position: relative;
      }
      #right-navigation {
        height: 2.8em;
        overflow: hidden;
        transition: height 150ms;

        #p-cactions {
          display: none;
        }

        #p-views {
          height: auto;
          float: none;

          #p-views-label {
            display: block;
            padding: 0;
            margin: 0;
            font-size: 1em;

            > span {
              @include layout.subnav-item;
              @include colorize.colorize-cobalt;
              width: #{math.div(layout.$icon-width, defaults.$layout-font-size-nav-sub)}em;
              text-indent: -9999px;
              position: absolute;
              font-weight: normal;
              background-image: icons.icon-url('three-bars');
              background-repeat: no-repeat;
              background-position: center;
              top: 0;
              right: 0.25em;
              cursor: pointer;
            }
            &::before {
              content: '';
              width: auto;
              display: block;
              position: absolute;
              inset: 0.5em 0.25em;
              border-radius: 3px;
              background-image: none;
              opacity: 1;
            }
          }

          .vector-menu-content {
            .vector-menu-content-list {
              li {
                display: block;
                float: none;

                a {
                  margin-top: -0.5em;
                  margin-left: (layout.$nav-item-padding) - layout.$highlight-padding;
                }
                &:first-child a {
                  margin-top: 0;
                }
              }
            }
          }
        }
      }
      #p-personal {
        top: calc((defaults.$layout-height-nav-main + 1em) + defaults.$layout-responsive-offset-y);
        //top: calc($layout-height-nav-main + 1em);
    
        .vector-menu-content {
          position: relative;
          top: -1px;
          left: -(defaults.$layout-rounding-content-outer);
        }
      }
    }
  }
}