@use "sass:color";
@use "defaults";
@use "icons";
@use "colorize";

body.mediawiki {
  font-family: defaults.$font-regular;
  font-size: defaults.$font-size-regular;
}

// Ensures a consistent font size for the main body copy.
#content {
  h1, h2 {
    border-bottom: 1px solid defaults.$color-light-gray-3;
    line-height: defaults.$line-height-header;
  }
  .firstHeading {
    font-family: defaults.$font-header;
    font-weight: 500;
    line-height: 1.3;
    border-bottom: 2px solid defaults.$color-light-gray-3;
    font-size: defaults.$layout-font-size-page-heading;

    .mw-page-title-namespace {
    }
    .mw-page-title-separator {
      &::after {
        content: ' ';
      }
    }
    .mw-page-title-main {
    }
  }
  .mw-body-content {
    font-size: inherit;
    line-height: defaults.$line-height-regular;

    h1, h2, h3, h4, h5, h6 {
      font-family: defaults.$font-header;
      overflow: inherit;

      &.body-font {
        font-family: defaults.$font-regular;
      }
    }
    
    .toc {
      #mw-toc-heading {
        font-family: defaults.$font-regular;
        border: none;
      }
    }

    blockquote {
      padding: 0.5em 2em;
      margin: 1em 2em;
      border-left: 0.3em solid defaults.$color-light-gray-1-5;
    }
    table {
      font-variant-numeric: tabular-nums;
    }
  }
}

// Make sure all monospace containers are consistent.
pre, code, tt, .mw-code {
  padding: inherit;
  border-radius: inherit;
  font-family: defaults.$font-mono;
  font-size: defaults.$font-mono-size;
  border: none;
  line-height: defaults.$line-height-regular;
  background-color: defaults.$color-light-gray-0;
}
pre {
  padding: 1em;
}
code {
  background-color: transparent;
}
fieldset {
  padding: 0 1em 1em;
  border: 2px solid defaults.$color-light-gray-3;
  border-radius: defaults.$border-radius-l;

  legend {
    color: defaults.$color-dark-gray;
    font-weight: bold;
  }
}
dfn[title] {
  font-style: normal;
  text-decoration: underline;
  text-decoration-style: dotted;
}
ul {
  list-style-image: none;
}

// Fixes to display the Tomba logo correctly.
#p-logo {
  width: 160px;
  height: 67px;

  a.mw-wiki-logo {
    background-size: contain;
    width: 160px;
    height: 67px;
  }
}

// Used to display pixel art content, such as small icons.
.pixel-art {
  image-rendering: pixelated;
}

body,
.mw-parser-output {
  a {
    color: defaults.$color-cobalt;
  }
  a.new {
    color: defaults.$color-nonexistent;
  }
  a:visited {
    color: defaults.$color-visited;
  }
  a.new:visited {
    color: defaults.$color-visited-nonexistent;
  }
  a.external {
    color: defaults.$color-green-haze;
    padding-right: 0;
    background: none;
  }
  a.external::after {
    content: '\00a0';
    width: calc(0.83333333333em + 1px);
    display: inline-block;
    background: transparent no-repeat;
    background-position: center right;
    background-size: 0.833333em 0.833333em;
    background-image: icons.icon-url('external-link');
    filter: colorize.colorize-green-haze();
  }
  a.external:visited {
    color: defaults.$color-salem;
  }
  a.external:visited::after {
    // This doesn't actually work, since visited links have limited styling available.
    filter: colorize.colorize-salem();
  }
  a.image img {
    // Ensure inlined images don't exceed the page width.
    max-width: 100%;
    height: auto;
  }
}
