@use "sass:color";
@use "defaults";
@use "icons";

body.mediawiki {
  font-family: defaults.$font-regular;
  font-size: defaults.$font-size-regular;
}

// Ensures a consistent font size for the main body copy.
#content {
  h1, h2 {
    border-bottom: 1px solid defaults.$color-light-gray-3;
  }
  .firstHeading {
    font-family: defaults.$font-header;
    font-weight: 500;
    border-width: 2px;
    font-size: inherit;

    > span {
      font-size: defaults.$layout-font-size-page-heading;
    }

    .mw-page-title-namespace {
    }
    .mw-page-title-separator {
      &::after {
        content: ' ';
      }
    }
    .mw-page-title-main {
    }
  }
  .mw-body-content {
    font-size: inherit;
    line-height: defaults.$line-height-regular;

    h1, h2, h3, h4, h5, h6 {
      font-family: defaults.$font-header;
    }
    
    .toc {
      #mw-toc-heading {
        font-family: defaults.$font-regular;
        border: none;
      }
    }
  }
}

// Make sure all monospace containers are consistent.
pre, code, .mw-code {
  font-family: defaults.$font-mono;
  font-size: defaults.$font-mono-size;
  border: none;
  line-height: defaults.$line-height-regular;
  background-color: color.mix(#fff, defaults.$color-light-gray-1, 30%);
}
code {
  background-color: transparent;
}
fieldset {
  padding: 0 1em 1em;
  border: 2px solid defaults.$color-light-gray-3;
  border-radius: defaults.$border-radius-l;

  legend {
    color: defaults.$color-dark-gray;
    font-weight: bold;
  }
}
dfn[title] {
  font-style: normal;
  text-decoration: underline;
  text-decoration-style: dotted;
}

// Fixes to display the Tomba logo correctly.
#p-logo {
  width: 160px;
  height: 67px;

  a.mw-wiki-logo {
    background-size: contain;
    width: 160px;
    height: 67px;
  }
}

// Used to display pixel art content, such as small icons.
.pixel-art {
  image-rendering: pixelated;
}

body,
.mw-parser-output {
  a {
    color: defaults.$color-cobalt;
  }
  a.new {
    color: defaults.$color-nonexistent;
  }
  a:visited {
    color: defaults.$color-visited;
  }
  a.external {
    color: defaults.$color-green-haze;
    padding-right: 0;
    background: none;
  }
  a.external::after {
    content: '\00a0';
    width: calc(0.83333333333em + 1px);
    display: inline-block;
    background-color: defaults.$color-green-haze;
    mask-size: 0.83333333333em 0.83333333333em;
    mask-repeat: no-repeat;
    mask-position: center right;
    mask-image: icons.make-icon-url('external', defaults.$color-green-haze);
  }
  a.external:visited {
    color: defaults.$color-external-visited;
    background-color: defaults.$color-external-visited;
  }
  a.external:visited::after {
    background-color: defaults.$color-external-visited;
  }
  a.image img {
    // Ensure inlined images don't exceed the page width.
    max-width: 100%;
    height: auto;
  }
}
