@use "sass:color";
@use "sass:list";
@use "sass:map";
@use 'sass:math';
@use "defaults";
@use "colorize";
@use "functions";
@use "icons";
@use "layout";

// Color of the indicator links.
$color-mw-indicators: defaults.$color-cobalt;

// Colors of the contentSub message boxes.
$color-cs-messagebox: defaults.$color-neutral;
$color-cs-errorbox: defaults.$color-error;
$color-cs-warningbox: defaults.$color-warning;
$color-cs-successbox: defaults.$color-success;

// Infobox design.
.tc-infobox {
  float: right;

  th, td {
    padding: 0;
  }

  border: 1px solid defaults.$color-light-gray-2;
  padding: 2px;
  background-color: defaults.$color-superlight-gray;
  border-radius: defaults.$border-radius-s;
  box-sizing: border-box;
  margin-left: 1.0em;
  margin-bottom: 1.4em;
  max-width: 22em;

  .main-image {
    &.frameless {
      p {
        .image {
          &::before {
            display: none;
          }
          img {
            border-radius: 0 !important;
          }
        }
      }
    }
    p {
      margin: 0;

      .image {
        display: block;
        position: relative;

        &::before {
          @include functions.image-border;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: defaults.$border-radius-xxs;
        }

        img {
          width: 100%;
          height: auto;
          border-radius: defaults.$border-radius-xxs;
        }
      }
    }
  }

  .row {
    td, th {
      font-size: defaults.$font-size-caption;
      line-height: defaults.$line-height-regular;
      padding: 0.1em 0 0.1em;
      vertical-align: top;
    }
    td {
      font-weight: 450;
    }
    th {
      text-align: left;
      padding-left: 0.25em;
      padding-right: 1.1em;
    }
  }

  .tc-infobox-separator {
    th {
      padding: 0.1em 0 0.1em;

      .header {
        padding: 2px 0 1px;
        background: defaults.$color-dandelion;
        background: defaults.$color-green-haze;
        font-weight: defaults.$font-subnav-weight;
        color: defaults.$color-heading-positive;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: defaults.$layout-rounding-nav-main;
      }
    }
  }

  .tc-infobox-links {
    .links {
      display: flex;
      place-content: center;
      gap: 0.25em;
    }

    .link {
      position: relative;

      &::after {
        content: '';
        width: 2em;
        height: 2em;
        position: absolute;
        display: block;
        visibility: hidden;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        background-size: 80% 80%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }

      @each $icon in defaults.$external-sites {
        &.#{$icon}::before {
          background-image: url('./assets/sites/#{$icon}.svg');
        }
        &.#{$icon}::after {
          background-image: url('./assets/sites/#{$icon}-mask.svg');
        }
        &:hover {
          &.#{$icon}::before {
            background-image: url('./assets/sites/#{$icon}-mask.svg');
          }
        }
      }

      a {
        display: block;
        text-indent: -9999px;
        width: 2em;
        height: 2em;
        border: 1px solid defaults.$color-light-gray-2;
        background: defaults.$color-light-gray-1;
        border-radius: defaults.$border-radius-xs;

        &::after {
          content: '';
          display: none;
        }
      }

      &:hover {
        &::before {
          @include colorize.colorize-green-haze;
        }
        a {
          border-color: defaults.$color-green-haze;
          background-color: rgba(defaults.$color-green-haze, 0.2);
        }
      }
    }
  }
}

// Japanese name wrapper.
.tpl-japanese-name {
  word-break: break-all;

  .tpl-western-version {
    word-break: break-all;
  }
  .tpl-japanese-version {
    white-space: nowrap;
    word-break: break-word;
  }
}

// The tags that appear before the main article title.
// Note: these are only used on the Tomba Wiki, not on standard Mediawiki sites.
// Note: not implemented yet.
.tc-pre-header-tags {
  display: block;
  margin: 0 0 1.5em;

  .tc-tag {
    @include functions.block-tag();
    background-color: gray;
    color: white;

    // Add styles for all the color sets.
    @each $color-name, $color-variants in defaults.$color-tag-sets {
      $index: list.index(map.keys(defaults.$color-tag-sets), $color-name) - 1;

      &.color-n-#{$index} {
        &.dark {
          background-color: map.get($color-variants, dark);
        }
        &.medium {
          background-color: map.get($color-variants, medium);
        }
        &.light {
          background-color: map.get($color-variants, light);
        }
      }
    }
  }
}

// Galleries. There are two types: .mw-gallery-traditional (<gallery>), and .mw-gallery-nolines (<gallery mode="nolines">).
.mw-parser-output {
  .gallery {
    margin: 1em 0;

    &.mw-gallery-traditional {
      margin-left: -2px;

      .gallerybox {
        margin-bottom: 0.5em;
        
        .thumb {
          border-color: defaults.$color-light-gray-2;
          background: defaults.$color-superlight-gray;
          border-radius: defaults.$border-radius-xs;
          margin: 2px;
        }
        .gallerytext {
          font-size: 1em;
          margin-top: -2px;
          padding: 0.25em 0.15em calc(0.25em + 1px);
          font-size: defaults.$font-size-caption;

          p:first-child {
            margin-top: 0;
          }
          p:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &.mw-gallery-nolines {
      margin-left: -2px;

      // Note: gallery boxes will have a width set in the style attribute.
      .gallerybox {
        .thumb {
          img {
            border-radius: defaults.$border-radius-xxs;
          }
        }
      }
    }
  }
}

// Thumbnail boxes.
.mw-parser-output {
  .thumb {
    .thumbinner {
      border: 1px solid defaults.$color-light-gray-2;
      padding: 2px;
      background-color: defaults.$color-superlight-gray;
      font-size: inherit;
      border-radius: defaults.$border-radius-xxs;
      box-sizing: content-box;
      margin: 0.5em 0 1.3em 1.0em;

      a.image {
        display: block;
        padding: 1px;
        position: relative;

        &::before {
          @include functions.image-border;
          content: '';
          position: absolute;
          top: 1px;
          left: 1px;
          right: 1px;
          bottom: 1px;
          border-radius: 0;
        }
      }

      .thumbimage {
        border: 0;
        background-color: defaults.$color-white;
        box-sizing: border-box;
        display: block;
      }
      .thumbcaption {
        font-size: defaults.$font-size-caption;
        line-height: defaults.$line-height-caption;
        padding: 3px 3px 3px 3px;
      }
    }
  }
}

// Category links at the bottom of the page.
.catlinks {
  @include functions.border-radius('m');
  background-color: defaults.$color-light-gray-0;
  border: 1px solid defaults.$color-light-gray-5;
  margin: 2em 0 0 0;
  padding: 0.45em 0.5em 0.4em;
}

// Category links at the bottom of the content.
#mw-content-text + #catlinks {
  // TODO
}

// The bar at the top of file (image) detail pages.
#bodyContent #filetoc {
  // We really just don't need this. There's nothing on these pages that would warrant a ToC.
  display: none;
}

// Metadata for images and other uploads.
.mw_metadata {
  @include functions.table-universal();

  $amount: 'm';
  
  width: auto;
  margin: 0;
  font-size: 1em;

  th {
    text-align: left;
    background-color: color.mix(#000, defaults.$color-light-gray-1, 2%);
  }
  td {
    background-color: color.mix(#fff, defaults.$color-light-gray-1, 80%);
  }
  th, td {
    border-color: defaults.$color-light-gray-5;
  }

  // Normally this is collapsible, but we want it to always be expanded.
  &.collapsed {
    .mw-metadata-collapsible {
      display: inherit !important;
    }
    .mw-metadata-show-hide-extended {
      display: none !important;
    }

    // Compensate for the show-hide node.
    &:has(.mw-metadata-show-hide-extended) tbody:last-child {
      tr:nth-last-child(2) {
        th, td {
          border-bottom-width: 1px;
        }
      }
    }
  }

  tr:first-child {
    th:first-child, td:first-child {
      @include functions.border-radius($amount, ('tl'));
    }
    th:last-child, td:last-child {
      @include functions.border-radius($amount, ('tr'));
    }
  }
  tr:nth-last-child(2) {
    th:first-child, td:first-child {
      @include functions.border-radius($amount, ('bl'));
    }
    th:last-child, td:last-child {
      @include functions.border-radius($amount, ('br'));
    }
  }
}

// Submit buttons in some special pages (e.g. the image upload page).
#content .mw-htmlform-submit-buttons {
  margin-top: 1em;
}

// A redirect indicator.
#content {
  #redirectsub {
    font-size: 1.3em;
    padding-top: 1.3em;
    display: block;
    margin-bottom: -0.5em;
    color: black;
  }
  .redirectMsg {
    .redirectText a {
      position: relative;
      top: 0.15em;
    }
  }
}

// The table of contents on most pages.
#toc {
  border-radius: defaults.$border-radius-xs;
  border-color: defaults.$color-light-gray-5;
  background-color: color.mix(#fff, defaults.$color-light-gray-1, 80%);
  padding: 0.55em 0.75em;

  #mw-toc-heading {
    margin: 0.15em 0 0.4em;
    display: block;
  }

  .toctogglespan {
    // Disable the "hide" prompt. Who ever hides the ToC?
    display: none;
  }

  > ul {
    margin: 0;

    li {
      margin-bottom: 0.1em;
    }

    a + ul {
      margin-top: 0.1em;
    }
  }

  li > ul {
    margin: 0 0 0 1.5em;
  }

  li a {
    text-decoration: none;
    display: flex;

    .tocnumber {
      padding: 0;
      padding-right: 0.5em;
      display: inline-block;
      text-align: left;
    }
    &:hover .toctext {
      text-decoration: underline;
    }
  }

  li.toclevel-1 .tocnumber {
    min-width: 1ch;
  }
  li.toclevel-2 .tocnumber {
    min-width: 2ch + 0.5ch;
  }
  li.toclevel-3 .tocnumber {
    min-width: 3ch + 1ch;
  }
}

// The notification area that appears underneath the page title.
#contentSub, #contentSub2 {
  margin: 0.5em 0;
}

#contentSub, #contentSub2, #mw-content-text {
  .messagebox, .errorbox, .warningbox, .successbox {
    font-size: 0.77rem;
    line-height: defaults.$line-height-regular;
    padding: defaults.$layout-padding-v-box defaults.$layout-padding-h-box;
    border-radius: defaults.$border-radius-xs;
    border-bottom-width: 1px;
    border-top-width: 4px;
    border-bottom-left-radius: calc(defaults.$border-radius-xs + 1px);
    border-bottom-right-radius: calc(defaults.$border-radius-xs + 1px);

    p:first-child {
      margin-top: 0;
    }
  }

  .messagebox {
    border-color: color.mix(#fff, $color-cs-messagebox, 0%);
    background-color: color.mix(#fff, $color-cs-messagebox, 80%);
    border-top-width: 1px;
  }

  .errorbox {
    border-color: color.mix(#fff, $color-cs-errorbox, 60%);
    background-color: color.mix(#fff, $color-cs-errorbox, 90%);
    border-top-color: $color-cs-errorbox;
  }

  .warningbox {
    border-color: color.mix(#fff, $color-cs-warningbox, 60%);
    background-color: color.mix(#fff, $color-cs-warningbox, 90%);
    border-top-color: $color-cs-warningbox;
  }

  .successbox {
    border-color: color.mix(#fff, $color-cs-successbox, 60%);
    background-color: color.mix(#fff, $color-cs-successbox, 90%);
    border-top-color: $color-cs-successbox;
  }
}

// Search suggestions. These show up when you type something in the search box.
.suggestions {
  font-size: defaults.$layout-font-size-nav-sub !important;
  border: 2px solid defaults.$color-light-gray-2 !important;
  border-radius: defaults.$layout-rounding-content-outer - 1px;
  margin-top: 1px !important;
  margin-right: 1px !important;
  min-width: 24em;

  .suggestions-results {
    border: none;
    border-bottom: 1px solid defaults.$color-light-gray-2;

    .mw-searchSuggest-link {
      padding: 0;
    }

    .suggestions-result {
      padding: 0.25em 0.75em;

      &.suggestions-result-current {
        background: defaults.$color-cobalt;
      }
    }
  }
  .mw-searchSuggest-link {
    display: block;

    .suggestions-special {
      border: none;
      margin: 0;
      padding: 0;
      padding: 0.25em 0.75em;

      &.suggestions-result-current {
        background: defaults.$color-cobalt;
      }

      .special-label {
        color: defaults.$color-light-gray-8;

        &::after {
          content: ':';
        }
      }
      &.suggestions-result-current .special-label {
        color: white;
      }
      .special-query {
        padding: 0.25em 0 0;
      }
    }
  }
}

// The action notifications. These show up e.g. when you watch/unwatch a page.
#mw-notification-area {
  padding: 1.8em 2em;
  width: 35em;

  > .mw-notification {
    border-radius: 10px;
    padding: 0.75em 1.1em 0.75em calc(1.1em + 1em + 32px);
    background-image: url('./assets/chara.png');
    background-repeat: no-repeat;
    background-position: (1.1em) center;
    background-size: 32px 35px;
    background-color: defaults.$color-dandelion;
    border: 6px solid defaults.$color-dandelion;
    box-shadow: 0px 2px 0px color.mix(#000, defaults.$color-dandelion, 20%);

    &:hover {
      background-color: defaults.$color-dandelion-2;
      border-color: defaults.$color-dandelion-2;
      box-shadow: 0px 2px 0px color.mix(#000, defaults.$color-dandelion-2, 20%);
    }
  }
}

// The indicators used on e.g. the "page information" page.
// These appear on the right side of the page title.
.mw-indicators {
  #mw-indicator-mw-helplink a {
    background: none;
    display: inline-block;
    color: $color-mw-indicators;

    width: inherit;
    height: #{math.div(defaults.$layout-height-nav-sub, defaults.$layout-font-size-nav-sub)}em;
    line-height: #{math.div(defaults.$layout-height-nav-sub, defaults.$layout-font-size-nav-sub)}em;

    font-size: defaults.$layout-font-size-nav-sub;
    position: relative;
    padding: 0 layout.$nav-item-padding;
    padding-left: #{layout.$nav-item-padding + (math.div(layout.$icon-width + layout.$icon-spacing, defaults.$layout-font-size-nav-sub))};

    top: -(math.div(layout.$highlight-padding, 2));
    left: math.div(layout.$highlight-padding, 2);

    &::before {
      @include colorize.colorize-mw-indicators;
      background-image: icons.icon-url('question');
      background-position: 0 50%;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      height: auto;
      left: math.div(layout.$nav-item-padding + math.div(layout.$icon-width + layout.$icon-spacing, defaults.$layout-font-size-nav-sub) - math.div(layout.$icon-width, 2), 2);
      position: absolute;
      top: 0;
      bottom: 0;
      width: #{math.div(layout.$icon-width, defaults.$layout-font-size-nav-sub)}em;
    }

    &::after {
      content: '';
      width: auto;
      display: block;
      position: absolute;
      inset: layout.$highlight-padding (math.div(layout.$highlight-padding, 2));
      border-radius: defaults.$border-radius-xs;
      background-image: none;
      opacity: 1;
    }

    &:hover {
      text-decoration: none;
    }
  
    &:hover::after {
      background: rgba($color-mw-indicators, 0.1);
    }
  }
}

// Some special tables used in specific places.
#sv-skin, #sv-ext {
  .mw-version-ext {
    td:first-child {
      white-space: nowrap;
    }
  }
}
#sv-libraries {
  tr[id^="mw-version-library"] {
    td:first-child {
      white-space: nowrap;
    }
  }
}
