@use "sass:color";

// Primary font used in copy
$font-regular: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size-regular: 0.9rem;
$font-size-caption: 0.92em;
$line-height-regular: 1.6;
$line-height-caption: 1.475;
// Primary header font
$font-header: "Roboto", sans-serif !default;
//$font-header: "Linux Libertine", "Georgia", "Times", serif !default;
// Font used for monospaced elements, such as <code>, <pre>, etc
$font-mono: "Menlo", "Andale Mono", "Ubuntu Mono", monospace !default;
$font-mono-size: 94%;
$font-subnav-weight: 450;

// Theme style settings
$border-radius-xxs: 2px !default;
$border-radius-xs: 3px !default;
$border-radius-s: 4px !default;
$border-radius-m: 5px !default;
$border-radius-l: 6px !default;
$border-radius-xl: 8px !default;
$border-radius-xxl: 12px !default;

// Swatches
$color-green-haze: #00a94b;
$color-salem: #008634;
$color-tomba-pink: #ef84b1;
$color-tomba-pink-2: #e776a9;
$color-deep-blush: #e453a7;
$color-cobalt: #0043c3;
$color-midnight-blue: #002162;
$color-dandelion: #ffdb41;
$color-dandelion-2: color.mix($color-dandelion, #fff, 50%);

$color-radical-red: #ff3855;
$color-bright-sun: #ffcc3c;
$color-malachite: #00c02f;

// Layout colors
$color-dark-transparent: rgba(0, 0, 0, 0.25);
$color-dark-transparent-hover: rgba(0, 0, 0, 0.35);
$color-dark-transparent-shadow: rgba(0, 0, 0, 0.33);
$color-dark-transparent-hover-shadow: rgba(0, 0, 0, 0.4);

// Functional swatches
$color-visited: #7900c3;
$color-nonexistent: #c30000;
$color-error: $color-radical-red;
$color-warning: $color-bright-sun;
$color-success: $color-malachite;
$color-neutral: #d7d1d1;

$color-white: #fff;
$color-superlight-gray: #faf9f9;
$color-light-gray-1: #f2efef;
$color-light-gray-1-5: color.mix(#000, $color-light-gray-1, 4%);
$color-light-gray-2: color.mix(#000, $color-light-gray-1, 10%);
$color-light-gray-3: color.mix(#000, $color-light-gray-1, 15%);
$color-light-gray-4: color.mix(#000, $color-light-gray-1, 20%);
$color-light-gray-5: color.mix(#000, $color-light-gray-1, 25%);
$color-light-gray-6: color.mix(#000, $color-light-gray-1, 30%);
$color-light-gray-7: color.mix(#000, $color-light-gray-1, 35%);
$color-light-gray-8: color.mix(#000, $color-light-gray-1, 40%);
$color-light-gray-0: color.mix(#fff, $color-light-gray-1, 25%);
$color-gray-1: color.mix(#000, $color-light-gray-1, 75%);
$color-dark-gray: #313030;
$color-black: #202122;
$color-heading-positive: #fff;
$color-heading-negative: rgba($color-black, 0.85);

// Colors used for tags and various other things.
$color-tag-sets: (
  'gray': (dark: #555252, medium: #999696, light: #f3f0f0),
  'red': (dark: #6d110d, medium: #df4341, light: #ffecee),
  'orange': (dark: #693614, medium: #fd974d, light: #ffede6),
  'yellow': (dark: #725318, medium: #edc537, light: #fff1ce),
  'green': (dark: #005f0b, medium: #52d356, light: #dfffdc),
  'aqua': (dark: #00563a, medium: #29ca9a, light: #e0fbee),
  'cyan': (dark: #004d69, medium: #00c1de, light: #e1f7ff),
  'bondi': (dark: #003f73, medium: #25adea, light: #e4f6ff),
  'blue': (dark: #00327c, medium: #1f85eb, light: #e7f6ff),
  'purple': (dark: #431a6e, medium: #8d62e4, light: #f4f2ff),
  'magenta': (dark: #561054, medium: #ba4cbf, light: #feeaff),
  'pink': (dark: #660c3d, medium: #f9569c, light: #ffecf4),
  'blueGray': (dark: #35355d, medium: #8383ab, light: #f2f2ff),
  'lime': (dark: #617218, medium: #a5d134, light: #f3ffce),
  'brown': (dark: #7a3515, medium: #dc9777, light: #ffede5)
);

// Social media and other icons.
$external-sites: facebook, github, homepage, instagram, linkedin, reddit, tiktok, tumblr, twitter, wikipedia, youtube, mobygames, bluesky, mastodon, website;

// Layout settings and sizes
$color-body: $color-dark-gray;
$color-outer-bg-top: $color-tomba-pink-2;
$color-outer-bg-bottom: #8c2550;
$color-outer-bg: color.mix($color-outer-bg-bottom, $color-outer-bg-top, 0%) linear-gradient(0deg, color.mix($color-outer-bg-bottom, $color-outer-bg-top, 100%) 0%, $color-outer-bg-top 100%) repeat-x;
$color-inner-bg: $color-light-gray-1;
$color-content-bg: $color-white;

// The top nav layout is divided into three sections:
//
//     - the logo section
//     - the main nav section - 'main article', 'talk', etc.
//     - the sub nav section - 'edit', 'edit source', etc.
//
// The content section can be offset from the left side of the screen,
// in which case the background color can be seen on the left side.
//
$layout-height-nav-logo: 3em;
$layout-height-nav-main: 2.1em;
$layout-height-nav-sub: 2.8em;
$layout-height-nav: $layout-height-nav-logo + $layout-height-nav-main + $layout-height-nav-sub;
$layout-inset-content: 1.5em;
$layout-padding-h-content: 1em;
$layout-padding-v-content: 1em;
$layout-padding-h-box: 1.5em;
$layout-padding-v-box: 1em;
$layout-rounding-content-inner: $border-radius-xl;
$layout-rounding-content-outer: $border-radius-l;
$layout-rounding-nav-main: $border-radius-xs;
$layout-rounding-nav-sub: $border-radius-l;
$layout-rounding-nav-personal: $border-radius-l;
$layout-font-size-nav-sub: 0.9em;
$layout-font-size-page-heading: 1.8em;
$layout-font-size-page-heading-div: 1.8;
$layout-width-nav-hamburger: 0em; // menu on the left side of the main nav buttons
$layout-width-nav-panel: 14em;

// The amount that the nav panel and main content section is offset from
// the side of the viewport. When setting it to 0, make sure it's set to
// '0em' specifically to make sure the calculation doesn't NaN.
$layout-left-inset-content: 0.8em;
$layout-right-inset-content: 0.8em;

// Amount that the inner content is offset. The left side is determined by $layout-side-nav-padding-left etc.
$layout-inner-right-inset: 0.75em;
// Viewport widths at which point we'll show the right panel, and how large the panel will be.
$layout-right-panel-small-limit: 1100px;
$layout-right-panel-small-size: 20em;
$layout-right-panel-medium-limit: 1250px;
$layout-right-panel-medium-size: 24em;
$layout-right-panel-large-limit: 1460px;
$layout-right-panel-large-size: 26em;

// Adds the extra logo image of Tomba holding on to the Wikipedia logo.
$layout-has-tomba-wikipedia-logo: true;
// Adds the image of Tomba running to the left sidebar background (very lightly transparent).
$layout-has-tomba-sidebar-bg: true;

// The amount that the layout will move down to accommodate the logo in responsive mode.
$layout-responsive-offset-y: 30px;
// Whether to move the left bar down below.
$layout-move-left-bar-on-responsive: true;
// Whether to remove the icons from the left bar.
$layout-remove-left-bar-icons: true;
// Whether to move the user bar to the top.
$layout-move-personal-bar-on-responsive: true;
// Whether to remove the icons in the subnav.
$layout-remove-subnav-icons: false;
// Whether pre-header tags have a shadow.
$layout-pre-header-has-shadow: true;

// Minimum layout width. If the layout gets shorter than this, the site will need to be scaled on the user's device.
$layout-minimum-width: 360px;

// Spacing for the left nav.
$layout-side-nav-padding-left: 1.4em;
$layout-side-nav-header-offset-left: 0.65em;
$layout-side-nav-padding-right: 2.0em;
$layout-side-nav-header-offset-right: 0.5em;
