@use "sass:list";
@use "sass:map";
@use "sass:string";
@use "defaults";

// Universal basic table styling
@mixin table-universal() {
  border-collapse: separate;
  border-spacing: 0;
  background: transparent;

  thead, tbody, tfoot {
    tr {
      th, td {
        line-height: 1.5;
        padding: 0.35em 0.6em;
        border-style: solid;
        border-width: 0;
        border-left-width: 1px;
        border-top-width: 1px;
      }
      th {
        font-weight: 700;
      }
      td {
        background: defaults.$color-superlight-gray;
      }
      th:last-child, td:last-child {
        border-right-width: 1px;
      }
    }
  }
  thead:last-child, tbody:last-child, tfoot:last-child {
    // Account for rowspan; cells that span to the bottom would otherwise
    // not get the bottom border. There doesn't seem to be a way to
    // do this "properly", so we'll only do this for a few levels deep.
    @for $i from 2 through 5 {
      tr:nth-last-child(#{$i}) {
        td, th {
          &[rowspan="#{$i}"] {
            border-bottom-width: 1px;
          }
        }
      }
    }
    tr:last-child {
      th, td {
        border-bottom-width: 1px;
      }
    }
  }
}

@mixin table-rounded($amount: defaults.$border-radius-table) {
  thead:first-child, tbody:first-child, tfoot:first-child,
  caption + thead, caption + tbody, caption + tfoot,
  colgroup + thead, colgroup + tbody, colgroup + tfoot {
    tr:first-child {
      th:first-child, td:first-child {
        border-top-left-radius: $amount;
      }
      th:last-child, td:last-child {
        border-top-right-radius: $amount;
      }
    }
  }
  thead:last-child, tbody:last-child, tfoot:last-child {
    tr:last-child {
      th:first-child, td:first-child {
        border-bottom-left-radius: $amount;
      }
      th:last-child, td:last-child {
        border-bottom-right-radius: $amount;
      }
    }
    @for $i from 2 through 5 {
      tr:nth-last-child(#{$i}) {
        th:first-child, td:first-child {
          &[rowspan="#{$i}"] {
            border-bottom-left-radius: $amount;
          }
        }
        th:last-child, td:last-child {
          &[rowspan="#{$i}"] {
            border-bottom-right-radius: $amount;
          }
        }
      }
    }
  }
}

// Returns a tag color by color name and variant
@function get-tag-color($color-name, $variant) {
  @return map.get(map.get(defaults.$color-tag-sets, $color-name), $variant);
}

// Returns a tag color by index (zero indexed)
@function get-tag-color-set-by-idx($idx) {
  $color-names: map.keys(defaults.$color-tag-sets);
  $color-name: list.nth($color-names, $idx + 1);
  @return map.get(defaults.$color-tag-sets, $color-name);
}

// Mixin for a tag
@mixin block-tag() {
  display: inline-block;
  padding: 0.5em 0.8em 0.5em;
  border-radius: defaults.$border-radius-xs;

  @if (defaults.$layout-pre-header-has-shadow) {
    padding-bottom: calc(0.5em + 1px);
    box-shadow: inset 0px -2px rgba(0, 0, 0, 0.3);
  }
}

// Mixin that adds a border around an image. Use on &::before on a parent.
@mixin image-border {
  box-shadow: inset 0px 0px 0px 1px rgba(defaults.$color-black, 0.16);
}

// As above, but slightly darker. Used by the right sidebar.
@mixin image-border-darker {
  box-shadow:  inset 0px 0px 0px 1px rgba(defaults.$color-light-gray-7, 0.10), inset 0px 0px 0px 1px rgba(defaults.$color-black, 0.2);
}

// Base for ::before and ::after type pseudoelements.
@mixin inset {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
}

// Replaces substrings.
@function str-replace($string, $search, $replace: '') {
  $index: string.index($string, $search);
  @if $index {
    @return string.slice($string, 1, $index - 1) + $replace + str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
  }
  @return $string;
}

@mixin add-icon($icon) {
  --icon: #{url('./assets/icons/#{$icon}.svg')};
  position: relative;
  padding-left: 1em;
  
  &::before {
    @include inset();
    background-image: var(--icon);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 0.95em;
  }
}
