@use "sass:color";
@use "sass:map";
@use "sass:meta";
@use "sass:string";

// Primary nav link icons.
$nav-main-icon-links: (
  'ca-talk': ('comment-discussion', 'left'),
);
// Subnav link icons.
$nav-sub-icon-links: (
  'ca-ve-edit': ('pencil', 'left'),
  'ca-edit': ('file-code', 'left'),
  'ca-viewsource': ('file-code', 'left'),
  'ca-view': ('book', 'left'),
  'ca-history': ('history', 'left'),
  'ca-unwatch': ('star-fill', 'left'),
  'ca-watch': ('star', 'left'),
  'ca-recreatedata': ('package', 'left'),
);
// The following icons can be set using the icon-$name class, both for primary and subnav.
// They're primarily used by Tombooru, as MediaWiki pages normally use specific IDs for nav items.
$nav-icon-link-classes: (
  'apps', 'archive', 'arrow-bottom', 'arrow-left', 'arrow-right', 'arrow-top', 'book', 'calendar',
  'external', 'file-code', 'file-directory', 'gear', 'globe-arrow', 'history', 'image', 'koma',
  'list-ordered', 'package', 'paintbrush', 'pencil', 'plus', 'search', 'tag', 'tomba', 'trending', 'upload',
);
// Icons for the sidebar navigation panel.
$nav-panel-icon-links: (
  'n-mainpage-description': ('home', 'left'),
  'n-Imageboard': ('image', 'left'),
  'n-Edit-guide': ('file-badge', 'left'),
  'n-recentchanges': ('broadcast', 'left'),
  'n-randompage': ('rocket', 'left'),
  't-whatlinkshere': ('git-merge', 'left'),
  't-recentchangeslinked': ('cross-reference', 'left'),
  't-contributions': ('repo-push', 'left'),
  't-log': ('log', 'left'),
  't-userrights': ('people', 'left'),
  't-print': ('print', 'left'),
  't-upload': ('image', 'left'),
  't-permalink': ('diff-renamed', 'left'),
  't-specialpages': ('hash', 'left'),
  't-info': ('info', 'left'),
  't-blockip': ('stop', 'left'),
  't-cargopagevalueslink': ('package', 'left'),
  'feedlinks': ('rss', 'left'),

  // Social media items.
  'socmed_discord': ('discord', 'left'),
  'socmed_youtube': ('youtube', 'left'),
  'socmed_twitter': ('twitter', 'left'),
);
// Additional icons.
$nav-other-icon-links: (
  'p-cactions-label': ('chevron-down', 'right'),
);

@function icon-url($icon) {
  @return url('./assets/icons/#{$icon}.svg');
}

