@use "sass:color";
@use "sass:list";
@use "sass:map";
@use 'sass:math';
@use "defaults";
@use "functions";
@use "icons";
@use "colorize";

// Whether the main content section is offset from the side of the viewport.
$layout-content-is-offset-left: defaults.$layout-left-inset-content > 0em;
$layout-content-is-offset-right: defaults.$layout-right-inset-content > 0em;

// Layout settings for the nav.
$nav-item-padding: 0.75em;
$icon-width: 1em;
$icon-spacing: 0.35em;
$highlight-padding: 0.5em;
$new-nav-tab-opacity: 0.7;

:root {
  --tc-layout-width-right-panel: 0px;
  --tc-backdrop-offset-from-bottom: 0px;
  --tc-backdrop-bottom-border-radius: 0px;
}

html, body {
  height: inherit;
  min-height: 100%;
}

body {
  background: defaults.$color-outer-bg;
  background-size: 100% 500px;
  background-position: bottom;
  min-width: defaults.$layout-minimum-width;
}

#mw-content-text {
  .mw-content-panel {
    // Sometimes we'll put a .mw-content-panel inside the main content.
    // In that case we should reset its text, as the headers normally
    // have a different font inside of the main wiki content.
    h1, h2, h3, h4, h5, h6 {
      font-family: defaults.$font-regular;
    }
  }
  .mw-content-navigation-panel {
    // Repositions the .mw-content-panel to be over the left navbar.
    position: relative;
    float: left;
    z-index: 5;
    top: calc((defaults.$layout-inset-content - 0.5em) * -1);
    margin-left: calc((defaults.$layout-width-nav-panel + defaults.$layout-padding-h-content) * -1);
    width: calc(defaults.$layout-width-nav-panel);
  }
}

// Subnav items are the navigation items underneath the primary navigation.
// This contain links such as "read", "edit", "edit source", "view history", and so on.
@mixin subnav-item {
  color: defaults.$color-cobalt;
  background: transparent;
  width: inherit;
  height: #{math.div(defaults.$layout-height-nav-sub, defaults.$layout-font-size-nav-sub)}em;
  padding: 0 $nav-item-padding;
  line-height: #{math.div(defaults.$layout-height-nav-sub, defaults.$layout-font-size-nav-sub)}em;
  font-size: defaults.$layout-font-size-nav-sub;
  position: relative;
  font-weight: defaults.$font-subnav-weight;

  &::before {
    width: #{math.div($icon-width, defaults.$layout-font-size-nav-sub)}em;
    background-size: contain;
    height: auto;
    position: absolute;
    z-index: 4;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }

  &::after {
    content: '';
    width: auto;
    display: block;
    position: absolute;
    border-radius: defaults.$border-radius-xs;
    top: $highlight-padding;
    right: (math.div($highlight-padding, 2));
    bottom: $highlight-padding;
    left: (math.div($highlight-padding, 2));
    background-image: none;
    opacity: 1;
    height: auto;
  }

  &:hover::after {
    background: rgba(defaults.$color-cobalt, 0.1);
  }
}

// This mixin provides styles for the right sidebar that contains images and infoboxes.
// Basically, if the space is there (not on smaller layouts), all items that normally float to the right
// side of the page get collected into a totally separate sidebar (purely by CSS).
// FIXME: Currently this *requires* $wgParserEnableLegacyMediaDOM to be true.
@mixin right-panel {
  #firstHeading {
    width: calc(100% - (var(--tc-layout-width-right-panel) / defaults.$layout-font-size-page-heading-div));
  }
  #bodyContent {
    width: calc(100% - var(--tc-layout-width-right-panel));
  }
  .mw-parser-output {
    // An infobox that's right at the start of an article needs to be moved up a bit.
    .box.tright,
    .thumb.tright {
      &:first-child {
        // Haven't quite figured out why this is the formula. TODO
        // Also, this breaks if the #firstHeading is 2 lines or more (pretty rare).
        margin-top: calc((-#{defaults.$layout-font-size-page-heading} * 1.3) - 1em - 0.5em - 2px + 0.05em);
      }
      // Push up the image 0.5em, which is the margin of the text paragraphs.
      // This allows images placed directly underneath a header to touch the header line.
      margin-top: -0.5em;
    }
    // Should normally never show up, but if it does this will screw with the layout.
    .MediaTransformError {
      width: 100% !important;
      background: rgba(0, 0, 0, 0.1);
    }
  }
  .box.tright {
    background-color: transparent;
    border: 0;
    padding: 0;
    border-collapse: collapse;
    border-radius: defaults.$border-radius-m;

    .tc-infobox-header {
      .main-image {
        padding-bottom: 0.15em;

        &.frameless {
          padding-bottom: 0.5em;
        }

        .image {
          &::before {
            @include functions.image-border-darker;
          }
          &::before, img {
            border-radius: defaults.$border-radius-m;
          }
        }
      }
    }
    .tc-infobox-separator {
      > th {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }
    }
    .tc-infobox-links {
      .links {
        .link {
          a {
            background-color: defaults.$color-superlight-gray;
          }
          &:hover a {
            background-color: rgba(defaults.$color-green-haze, 0.1);
          }
        }
      }
    }
    .row {
      td, th {
        border-bottom: 1px solid defaults.$color-light-gray-2;
        padding-top: 0.15em;
        padding-bottom: 0.15em;
      }
    }
  }
  .thumb.tright,
  .box.tright {
    margin-right: calc((var(--tc-layout-width-right-panel) * -1) - #{defaults.$layout-padding-h-content});
    margin-bottom: 1.8em;
    width: calc(var(--tc-layout-width-right-panel) - 1.5em);
    max-width: inherit;
    color: defaults.$color-dark-gray;

    .thumbinner {
      width: 100% !important;
      background: transparent;
      border: 0;
      padding: 0;
      border-radius: 0;
      margin: 0;
      box-sizing: border-box;

      .image {
        position: relative;
        padding: 0;

        &::before {
          @include functions.image-border-darker;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: defaults.$border-radius-xs;
        }
      }

      .thumbimage {
        width: 100%;
        border: 0;
        box-sizing: border-box;
        border-radius: defaults.$border-radius-xs;
      }
      .thumbcaption {
        border: 0;
        // What looks better, with or without border? I'm not sure.
        //border-bottom: 1px solid defaults.$color-light-gray-2;
        border-radius: 0;
        padding: 0.25em 0.15em calc(0.25em + 1px);
      }
    }
  }
}

// Determine when the right sidebar gets activated.
body.right-panel {
  #content.mw-body {
    @media only screen and (min-width: #{defaults.$layout-right-panel-small-limit}) {
      @include right-panel;
      --tc-layout-width-right-panel: #{defaults.$layout-right-panel-small-size};
    }
    @media only screen and (min-width: #{defaults.$layout-right-panel-medium-limit}) {
      --tc-layout-width-right-panel: #{defaults.$layout-right-panel-medium-size};
    }
    @media only screen and (min-width: #{defaults.$layout-right-panel-large-limit}) {
      --tc-layout-width-right-panel: #{defaults.$layout-right-panel-large-size};
    }
  }
}

// Main content body
#content.mw-body {
  padding-left: defaults.$layout-width-nav-panel + defaults.$layout-padding-h-content;
  padding-right: defaults.$layout-padding-h-content + defaults.$layout-inner-right-inset;
  padding-top: defaults.$layout-padding-v-content + defaults.$layout-inset-content;
  padding-bottom: defaults.$layout-padding-v-content;
  position: relative;
  z-index: 0;
  border: 0;
  background: defaults.$color-inner-bg;
  margin: 0 defaults.$layout-right-inset-content 3px defaults.$layout-left-inset-content;
  border-bottom: 0;
  box-shadow: 0 3px rgba(defaults.$color-black, 0.42);
  min-height: 38em;
  overflow: hidden;

  @if defaults.$layout-has-tomba-wikipedia-logo {
    min-height: 46em;
  }

  @if defaults.$layout-has-tomba-sidebar-bg {
    background-image: url('./assets/tomba-running-bg.png');
    background-repeat: no-repeat;
    background-size: 389px 387px;
    background-position: -9em 30em;
  }
  @if $layout-content-is-offset-left {
    border-bottom-left-radius: defaults.$layout-rounding-content-outer;
  } 
  @if $layout-content-is-offset-right {
    border-bottom-right-radius: defaults.$layout-rounding-content-outer;
  }

  &::before {
    // This is the main white backdrop behind the text.
    width: calc(100% - #{defaults.$layout-width-nav-panel} - defaults.$layout-inner-right-inset - var(--tc-layout-width-right-panel, 0px));
    height: calc(100% - #{defaults.$layout-inset-content} - var(--tc-backdrop-offset-from-bottom, 0px));
    left: defaults.$layout-width-nav-panel;
    top: calc(defaults.$layout-inset-content + (var(--sub-bar-offset, 0em)));
  
    pointer-events: none;
    position: absolute;
    border-top-left-radius: defaults.$layout-rounding-content-inner;
    @if $layout-content-is-offset-right {
      border-top-right-radius: defaults.$layout-rounding-content-inner;
    }
    border-bottom-left-radius: var(--tc-backdrop-bottom-border-radius, 0px);
    border-bottom-right-radius: var(--tc-backdrop-bottom-border-radius, 0px);
    display: block;
    content: '';
    background: defaults.$color-content-bg;
    z-index: -1;
  }

  #firstHeading {
    width: 100%;
  }

  &.full-width::before {
    width: calc(100% - #{defaults.$layout-width-nav-panel});
    @if $layout-content-is-offset-right {
      border-top-right-radius: 0;
      border-bottom-right-radius: defaults.$layout-rounding-content-outer;
    }
  }

  .vector-body {
    font-size: inherit;
    position: static;
  }

  #mw-content-text {
    padding-top: calc(0em + var(--sub-bar-offset, 0em));
  }
}

// Top navigation
#mw-page-base, #mw-head-base {
  height: defaults.$layout-height-nav;
  background: transparent;
}
#mw-head-base {
  // For some reason, Chrome wants an extra pixel here.
  // I don't know why. I don't care.
  margin-top: calc((defaults.$layout-height-nav * -1) - 1px);
}
#mw-navigation {
  a {
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  // We commandeer the <h2> containing the navigation header for the gradient.
  // This is because we want to make the gradient bigger than the screen, but still with overflow hidden.
  // So we need a real element plus a pseudoelement.
  > h2 {
    text-indent: -9999px;
    padding: 0;
    margin: 0;
    border: 0;
    pointer-events: none;
    overflow: hidden;

    &, &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &::before {
      content: '';
      display: block;
      background: radial-gradient(circle at 50% 0, rgba(defaults.$color-light-gray-1, 0.4) 0%, rgba(defaults.$color-light-gray-1, 0) 50%);
      bottom: inherit;
      height: 80rem;
      z-index: -1;
    }
  }
  // Article top menu, containing e.g. 'edit', 'edit source', 'view history'.
  #mw-head {
    min-width: defaults.$layout-minimum-width;

    .vector-menu-tabs {
      background: none;
      padding: 0;

      li {
        background: none;

        a {
          padding: 0;
          background: none;

          span {
            position: relative;
            z-index: 5;
          }
        }
      }
    }
    // User account settings navigation
    #p-personal {
      position: absolute;
      top: 0;
      right: defaults.$layout-right-inset-content;

      .vector-menu-content-list {
        background: defaults.$color-dark-transparent;
        transition: background-color 150ms;
        word-wrap: break-word;
        padding: 0;
        border-radius: 0 0 defaults.$layout-rounding-nav-personal defaults.$layout-rounding-nav-personal;
        border-bottom: 2px solid rgba(0, 0, 0, 0.25);
        border-top: none;

        li {
          padding: 0 !important;
          margin: 0 !important;
        }
        li#pt-anonuserpage, a {
          padding: 0.65em 0.35em !important;
          margin: 0 !important;
          display: inline-block;
          color: white;
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
        }
        li:first-child a {
          padding-left: 1em !important;
        }
        li:last-child a {
          padding-right: 1em !important;
        }
        li#pt-userpage a {
          font-weight: bold;
        }
        li#pt-userpage a, li#pt-mytalk a {
          color: white;
          opacity: 1;
        }
        li#pt-anonuserpage, li#pt-userpage a {
          padding-left: 0.65em + 1.5em !important;
          position: relative;
          background-image: none;
        }
        li#pt-anonuserpage::before, li#pt-userpage a::before {
          @include colorize.colorize-white;
          content: '';
          display: block;
          background-image: url('./assets/icons/user-avatar.svg');
          padding: 0;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 1.15em 1.15em;
          position: absolute;
          top: calc(50% - 0.6em);
          left: 0.65em;
          width: 1.15em;
          height: 1.15em;
        }
        li#pt-anonuserpage:hover, li#pt-userpage a:hover, li#pt-mytalk a:hover {
          color: defaults.$color-dandelion;
        }
        li#pt-anonuserpage:hover::before, li#pt-userpage a:hover::before {
          @include colorize.colorize-dandelion;
        }
        li#pt-mytalk:after {
          content: '';
          display: inline-block;
          width: 1px;
          height: 1em;
          border-right: 1px solid rgba(255, 255, 255, 0.7);
          vertical-align: bottom;
          padding: 0 0 0 0.5em;
          margin-right: 0.5em;

          //new
          top: -0.075em;
          position: relative;
          padding: 0.50em 0.25em !important;
          vertical-align: middle;
          height: 0;
        }
      }

      .vector-menu-content:hover {
        .vector-menu-content-list {
          background: rgba(0, 0, 0, 0.35);
        }
      }
    }
    // Main nav section
    #left-navigation {
      float: none;
      display: block;
      position: relative;
      margin: defaults.$layout-height-nav-logo calc(#{defaults.$layout-right-inset-content} + #{defaults.$layout-rounding-nav-sub}) 0 calc(#{defaults.$layout-width-nav-hamburger + defaults.$layout-left-inset-content} + #{defaults.$layout-rounding-nav-sub});
      height: defaults.$layout-height-nav-main;

      .vector-menu {
        // For some reason, Safari wants an extra 0.1px here.
        // Don't ask me why.
        position: relative;
        top: 0.1px;
        height: defaults.$layout-height-nav-main;

        li {
          a {
            padding: 0 1em;
            font-size: inherit;
            height: auto;
            line-height: calc(defaults.$layout-height-nav-main - 4px);
            margin-left: 0.21em;
            border-top-left-radius: defaults.$layout-rounding-nav-main;
            border-top-right-radius: defaults.$layout-rounding-nav-main;
            background: linear-gradient(to bottom, defaults.$color-dark-transparent 0%, defaults.$color-dark-transparent 87%, defaults.$color-dark-transparent-shadow 100%);
            color: white;
            padding-top: 2px;
            font-weight: defaults.$font-subnav-weight;
            // Extra spacing here to ensure there's no gap.
            padding-bottom: 3px;

            &:hover, &:focus {
              background: linear-gradient(to bottom, defaults.$color-dark-transparent-hover 0%, defaults.$color-dark-transparent-hover 87%, defaults.$color-dark-transparent-hover-shadow 100%);
            }

            &::before {
              top: calc(0px - 0.1em) !important;
              @include colorize.colorize-white;
            }
          }
          &.selected a {
            background: defaults.$color-content-bg;
            color: defaults.$color-body;
            border-top: 2px solid defaults.$color-dandelion;
            padding-top: 0;

            &::before {
              top: calc(-2px - 0.1em) !important;
              @include colorize.colorize-black;
            }
          }
          &:first-child a {
            margin-left: 0;
          }
          &.new {
            a {
              color: rgba(defaults.$color-white, $new-nav-tab-opacity);
  
              &::before {
                opacity: $new-nav-tab-opacity;
              }
            }
          }
          &#ca-talk {
            a::before {
              top: calc(-2px) !important;
            }
            &.selected {
              a::before {
                top: calc(0px) !important;
              }
            }
          }
        }
      }

      #p-namespaces {
        li {
          a::before {
            width: #{math.div($icon-width, defaults.$layout-font-size-nav-sub)}em;
            background-size: contain;
            position: absolute;
            top: 0;
            bottom: 0;
            background-repeat: no-repeat;
            background-position: 0 50%;
          }
          // All the main nav links with an icon.
          @each $cls, $icon-settings in icons.$nav-main-icon-links {
            &##{$cls} {
              $icon: list.nth($icon-settings, 1);
              $direction: list.nth($icon-settings, 2);
              a {
                padding-#{$direction}: #{$nav-item-padding + (math.div($icon-width + $icon-spacing, defaults.$layout-font-size-nav-sub))};
                &::before {
                  content: '';
                  #{$direction}: math.div($nav-item-padding + math.div($icon-width + $icon-spacing, defaults.$layout-font-size-nav-sub) - math.div($icon-width, 2), 2);
                  background-image: icons.icon-url($icon);
                }
              }
              &.selected a {
                &::after {
                  background: rgba(defaults.$color-green-haze, 0.1);
                }
              }
            }
          }
        }
      }
    }

    // Sub nav section
    #right-navigation {
      --right-navigation-shadow-color: rgba(0, 0, 0, 0.1);
      float: none;
      font-variant-numeric: tabular-nums;
      margin: 0 defaults.$layout-right-inset-content 0 defaults.$layout-left-inset-content;
      height: defaults.$layout-height-nav-sub;
      background: defaults.$color-content-bg;
      box-shadow: 0px 2px 1px var(--right-navigation-shadow-color);
      position: relative;

      #p-search, #p-cactions, #p-views {
        height: defaults.$layout-height-nav-sub;
        margin: 0;
      }

      #p-search {
        float: right;
        margin-right: calc((#{$nav-item-padding} / 2) - 1px);

        #searchform {
          $duration: 80ms;
          margin: 0;
          height: defaults.$layout-height-nav-sub;
          display: flex;
          align-items: center;

          #simpleSearch {
            height: auto;
            min-width: 13em;

            #searchInput {
              font-size: defaults.$layout-font-size-nav-sub;
              padding: 0;
              color: defaults.$color-gray-1;
              height: calc(#{math.div(defaults.$layout-height-nav-sub - $nav-item-padding, defaults.$layout-font-size-nav-sub)}em + 2px);
              padding: 0 0.75em;
              border: 1px solid transparent;
              border-radius: defaults.$layout-rounding-content-outer - 1px;
              box-shadow: inset 0 0 0 2px defaults.$color-light-gray-2;
              transition: border-color $duration, box-shadow $duration, color $duration;
              background-color: white;

              &:focus {
                box-shadow: inset 0 0 0 2px defaults.$color-cobalt;
                color: defaults.$color-cobalt;

                &::placeholder {
                  color: defaults.$color-cobalt;
                }
              }
            }

            #mw-searchButton {
              display: none;
            }

            &:hover {
              #searchInput {
                box-shadow: inset 0 0 0 2px defaults.$color-cobalt;
                &::placeholder {
                  color: defaults.$color-cobalt;
                }
              }
              #searchButton {
                @include colorize.colorize-cobalt;
              }
            }

            #searchButton {
              @include colorize.colorize-gray-1;
              position: absolute;
              top: 1px;
              bottom: 0;
              right: 1px;
              opacity: 1;
              width: #{math.div(defaults.$layout-height-nav-sub - $nav-item-padding, defaults.$layout-font-size-nav-sub)}em;
              min-width: 0;
              height: #{math.div(defaults.$layout-height-nav-sub - $nav-item-padding, defaults.$layout-font-size-nav-sub)}em;
              border: none;
              padding: 0;
              margin: 0;
              font-size: defaults.$layout-font-size-nav-sub;
              text-indent: -99999px;
              white-space: nowrap;
              overflow: hidden;
              background: transparent no-repeat 50% 50%;
              background-image: icons.icon-url('search');
              background-size: #{math.div($icon-width, defaults.$layout-font-size-nav-sub)}em;
            }
          }
        }
      }

      #p-views {
        li {
          // All the subnav links with an icon.
          @each $cls, $icon-settings in icons.$nav-sub-icon-links {
            &##{$cls} {
              $icon: list.nth($icon-settings, 1);
              $direction: list.nth($icon-settings, 2);
              a {
                padding-#{$direction}: #{$nav-item-padding + (math.div($icon-width + $icon-spacing, defaults.$layout-font-size-nav-sub))};
                &::before {
                  content: '';
                  #{$direction}: math.div($nav-item-padding + math.div($icon-width + $icon-spacing, defaults.$layout-font-size-nav-sub) - math.div($icon-width, 2), 2);
                  background-image: icons.icon-url($icon);
                }
              }
            }
          }

          @each $cls, $icon-settings in icons.$nav-sub-icon-link-classes {
            &.#{$cls} {
              $icon: list.nth($icon-settings, 1);
              $direction: list.nth($icon-settings, 2);
              a {
                padding-#{$direction}: #{$nav-item-padding + (math.div($icon-width + $icon-spacing, defaults.$layout-font-size-nav-sub))};
                &::before {
                  content: '';
                  #{$direction}: math.div($nav-item-padding + math.div($icon-width + $icon-spacing, defaults.$layout-font-size-nav-sub) - math.div($icon-width, 2), 2);
                  background-image: icons.icon-url($icon);
                }
              }
            }
          }

          &.no-text {
            a {
              width: 2.6em;
              padding: 0;
              span {
                display: none;
              }
              &::before {
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                width: inherit;
                background-position: 50% 50%;
                background-size: #{math.div($icon-width, defaults.$layout-font-size-nav-sub)}em;
              }
            }
          }

          &.selected a {
            color: defaults.$color-green-haze;
            
            &::after {
              background: rgba(defaults.$color-green-haze, 0.1);
            }
            &::before {
              @include colorize.colorize-green-haze;
            }
            &:hover::after {
              background: rgba(defaults.$color-green-haze, 0.2);
            }
          }

          &.inert {
            a {
              padding-left: 0.5em;
              padding-right: 0.5em;
              pointer-events: none;
              &::after {
                display: none;
              }
            }
          }

          &.stick-right {
            a {
              margin-right: -0.175em;
              &::after {
              }
            }
          }

          &.stick-left {
            a {
              margin-left: -0.175em;
              &::after {
              }
            }
          }

          &.yellow {
            a {
              color: defaults.$color-sahara;
              
              &::after {
                background: rgba(defaults.$color-dandelion, 0.3);
              }
              &::before {
                @include colorize.colorize-sahara;
              }
              &:hover::after {
                background: rgba(defaults.$color-dandelion, 0.5);
              }
            }
          }

          &.blue {
            a {
              color: defaults.$color-cobalt;
              
              &::after {
                background: rgba(defaults.$color-cobalt, 0.1);
              }
              &::before {
                @include colorize.colorize-cobalt;
              }
              &:hover::after {
                background: rgba(defaults.$color-cobalt, 0.2);
              }
            }
          }

          a {
            @include subnav-item;

            &::before {
              @include colorize.colorize-cobalt;
            }
          }

          &:first-child a {
            margin-left: ($nav-item-padding) - $highlight-padding;
          }
          &:last-child.right a {
            margin-right: ($nav-item-padding) - $highlight-padding;
          }

          &#ca-unwatch {
            // Highlight the "watch" button if the user is watching the page.
            a {
              &::after {
                background: rgba(defaults.$color-cobalt, 0.075);
              }
              &:hover {
                &::after {
                  background: rgba(defaults.$color-cobalt, 0.1);
                }
              }
            }
          }
        }

        // Some small optimizations for the icons.
        li#ca-view a::before {
          width: 1.2em;
          top: -0.05em;
        }
        li#ca-ve-edit a::before {
          top: -0.05em;
        }
      }

      #p-cactions {
        $icon-settings: map.get(icons.$nav-other-icon-links, 'p-cactions-label');
        $icon: list.nth($icon-settings, 1);
        $direction: list.nth($icon-settings, 2);
        
        #p-cactions-label {
          @include subnav-item;
          background: none;
          margin: 0;
          padding-#{$direction}: #{$nav-item-padding + (math.div($icon-width + $icon-spacing, defaults.$layout-font-size-nav-sub))};

          &::before {
            content: '';
            #{$direction}: $icon-width;
            background-image: icons.icon-url($icon);
            @include colorize.colorize-cobalt;
          }
        }

        &:hover #p-cactions-label::after {
          background: rgba(defaults.$color-cobalt, 0.1);
        }
        .vector-menu-checkbox:checked ~ #p-cactions-label {
          &::before {
          }
        }
        .vector-menu-content {
          position: absolute;
          min-width: 8em;
          top: defaults.$layout-height-nav-sub;
          left: 0;
          right: inherit;
          margin: -2px 0 0 calc(-0.2em - 2px);
          padding: 0;
          border: none;
          box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          overflow: hidden;

          li a {
            padding: ($highlight-padding + 0.2em) ($nav-item-padding + 0.4em);
            font-size: defaults.$layout-font-size-nav-sub;

            &:hover {
              background: rgba(defaults.$color-cobalt, 0.1);
            }
          }
        }
      }

      @if $layout-content-is-offset-left {
        border-top-left-radius: defaults.$layout-rounding-nav-sub;
      }
      @if $layout-content-is-offset-right {
        border-top-right-radius: defaults.$layout-rounding-nav-sub;
      }
    }
  }

  // Wiki side menu, containing e.g. "main page", "recent changes", "random page".
  #mw-panel {
    position: absolute;
    top: defaults.$layout-height-nav-logo + defaults.$layout-height-nav-main + defaults.$layout-height-nav-sub + defaults.$layout-inset-content;
    width: defaults.$layout-width-nav-panel;
    padding-left: 0;
    left: defaults.$layout-left-inset-content;

    // Moves the logo to the top of the layout.
    #p-logo {
      position: absolute;
      top: -(defaults.$layout-height-nav-logo + defaults.$layout-height-nav-main + defaults.$layout-height-nav-sub + defaults.$layout-inset-content);
      margin: 0.2em 0 0 0;
      left: calc(50vw - 80px);
    }

    // An *additional* logo, which sits in the place where the MediaWiki logo normally would.
    // It's complicated, I know, but whatever. We add a special portlet for this in TombaClubHooks.php.
    #p-Tomba_Wiki {
      @if not defaults.$layout-has-tomba-wikipedia-logo {
        // If we're not displaying this, just turn the whole thing off.
        display: none;
      }
      > h3 {
        display: none;
      }
      #tomba_sidebar_logo > a {
        --logo-width: 196px; // defaults.$layout-width-nav-panel;
        --logo-height: 161px; // (1146 / 942);
        text-indent: -9999px;
        width: var(--logo-width);
        height: var(--logo-height);
        padding: 0;
        background: transparent url('./assets/globe-tomba.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: block;
        margin-top: -0.5em;
        margin-bottom: 0.4em;
        position: relative;
        left: 0.6em;

        &::before {
          content: none;
        }
      }
    }

    // If we're not displaying the globe logo, we also need to make sure the first
    // navigation portlet does not have any undue space above it.
    @if not defaults.$layout-has-tomba-wikipedia-logo {
      #p-navigation {
        padding-top: 0;
      }
    }
  }

  // Special situation: this allows us to style the first tab if there's a "view source" link.
  // This indicates that the current page is locked.
  // TODO: we should probably do this in a better way.
  // #mw-head:has(#ca-viewsource) #p-namespaces .vector-menu-content-list .mw-list-item:first-child a {
  //   padding-left: #{$nav-item-padding + (math.div($icon-width + $icon-spacing, defaults.$layout-font-size-nav-sub))};
  //   &::before {
  //     content: '';
  //     left: math.div($nav-item-padding + math.div($icon-width + $icon-spacing, defaults.$layout-font-size-nav-sub) - math.div($icon-width, 2), 2);
  //     background-image: icons.icon-url('lock');
  //   }
  // }
}

// Design for the portlets in the left navigation.
// These CAN also appear in the main content. In that case they MUST be in a .mw-content-panel wrapper.
.mw-content-panel, #mw-navigation #mw-panel {
  a.external {
    color: defaults.$color-salem;
    &::after {
      @include colorize.colorize-salem;
    }
  }
  .mw-portlet {
    --color: #{defaults.$color-green-haze};
    --color-heading-text: #{defaults.$color-white};
    --color-dark: #{defaults.$color-salem};

    padding: 0;
    margin: 0;

    &:not(:first-of-type) {
      padding-top: 1em;
    }

    .vector-menu-heading {
      display: block;
      background: none;
      padding: 0 (defaults.$layout-side-nav-padding-right - defaults.$layout-side-nav-header-offset-right) 0 (defaults.$layout-side-nav-padding-left - defaults.$layout-side-nav-header-offset-left);
      font-weight: defaults.$font-subnav-weight;
      text-transform: none;
      margin: 0 0 0.4em;
      font-size: 1em;
      color: var(--color-heading-text);

      span {
        cursor: auto;
        line-height: 1.2;
        border-bottom: 2px solid rgba(defaults.$color-black, 0.25);
        display: block;
        border-radius: defaults.$layout-rounding-nav-main;
        transition: background 150ms, color 150ms;
        background: var(--color, defaults.$color-green-haze);
        padding: calc(0.25em + 1px) defaults.$layout-side-nav-header-offset-right 0.25em defaults.$layout-side-nav-header-offset-left;
      }
    }
    .vector-menu-content {
      padding: 0;
      margin: 0;
      line-height: 1;
      transition: background 150ms;

      .vector-menu-content-static {
        white-space: nowrap;
        font-variant-numeric: tabular-nums;
        line-height: defaults.$line-height-sidebar;
      }

      .vector-menu-content-list {
        padding: 0;
        
        li {
          line-height: 1.125em;
          margin: 0;
          padding: 0;
          font-size: 1em;

          a {
            color: defaults.$color-dark-gray;
            display: block;
            padding: 0.25em defaults.$layout-side-nav-padding-right 0.25em defaults.$layout-side-nav-padding-left;
            position: relative;
            background-image: none;

            &::before {
              width: #{math.div($icon-width, 1.1em)}em;
              background-size: contain;
              position: absolute;
              top: 0;
              left: defaults.$layout-side-nav-padding-left;
              bottom: 0;
              background-repeat: no-repeat;
              background-position: 0 50%;
              content: '\00a0';
              background: transparent no-repeat 0 50%;
              background-size: contain;
              @include colorize.colorize-gray-1;
            }
            &:hover {
              color: defaults.$color-cobalt;
              text-decoration: underline;
            }
            &:hover::before {
              @include colorize.colorize-cobalt;
            }
          }

          &.active-link {
            a {
              color: var(--color-dark, defaults.$color-salem);
              &::before {
                @include colorize.colorize-salem;
              }
            }
          }

          // All the portlet links with an icon.
          @each $cls, $icon-settings in icons.$nav-panel-icon-links {
            &##{$cls} {
              $icon: list.nth($icon-settings, 1);
              $direction: list.nth($icon-settings, 2);
              a {
                padding-#{$direction}: #{(math.div($icon-width, 1.1em)) + defaults.$layout-side-nav-padding-left + 0.3em};
                &::before {
                  background-image: icons.icon-url($icon);

                  // Boost the Tomba icon a bit, if we're using it.
                  @if $icon == 'tomba' {
                    width: 1.1em;
                    left: 1.32em;
                  }
                }
              }
            }
          }

          // Slight adjustments.
          &#t-upload a::before {
            margin-left: 0.03em;
          }
        }
      }
    }
  }
  &.solid-panel {
    .mw-portlet {
      --color: #{defaults.$color-green-haze};
      --color-heading-text: #{defaults.$color-white};
      --color-dark: #{colorize.portlet-darken(defaults.$color-green-haze)};
      --color-dark-filter: #{colorize.colorize-green-haze()};

      a {
        color: var(--color-dark, defaults.$color-salem);

        &::after {
          filter: var(--color-dark-filter);
        }
      }
      .vector-menu-heading {
        margin-bottom: 0;

        span {
          border-bottom-left-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
          border-color: transparent;
        }
      }
      .vector-menu-content:not(.no-background) {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: var(--color, defaults.$color-green-haze);
          opacity: 0.2;
          z-index: -1;
          pointer-events: none;
        }
      }
      .vector-menu-content {
        border-bottom-left-radius: defaults.$border-radius-xxs !important;
        border-bottom-right-radius: defaults.$border-radius-xxs !important;
      }
    }
  }
  &.small-panel {
    // A variant with smaller text and more narrow padding.
    // Used by the Tombooru special pages.
    .mw-portlet {
      font-size: defaults.$font-size-caption;
      .vector-menu-heading {
        padding: 0 0.8em 0 0.8em !important;
        span {
          border-radius: defaults.$border-radius-xxs;
          border-width: 0.15em;
        }
      }
      .vector-menu-content-list {
        li {
          line-height: defaults.$line-height-sidebar-small;
          a {
            padding: 0;
          }
        }
      }
      .vector-menu-content {
        padding: 0;
        line-height: defaults.$line-height-sidebar-small;
        margin-right: 0.8em;
        margin-left: 0.8em;

        .vector-menu-content-static {
          padding: calc(0.25em + 1px) 0.4em calc(0.32em + 1px) 0.4em;
          line-height: defaults.$line-height-sidebar-small;
        }

        a {
          padding: 0;
        }
        li, td, th {
          padding: 0.075em 0;
        }
      }
    }
  }
  // A couple of color variations.
  .mw-portlet {
    &.blue {
      .vector-menu-heading {
        .vector-menu-heading-label {
          background-color: defaults.$color-cobalt;
        }
      }
      .vector-menu-content {
      }
    }
  }
  &.solid-panel {
    .mw-portlet {
      &.blue {
        .vector-menu-content {
          &:not(.no-background) {
            background-color: rgba(defaults.$color-cobalt, 0.1);
          }
        }
      }
    }
  }
}
// If they happen to be in the regular content, make them blue and take out the navbar padding.
#mw-content-text {
  // Don't reset portlets inside .mw-content-navigation-panel, since that's meant to be a navbar replacement.
  .mw-content-panel:not(.mw-content-navigation-panel) {
    .mw-portlet {
      // The vector menu has a bunch of extra padding for the navbar.
      // Here we undo that extra padding. This should probably be fixed better so we don't need to do this.
      margin-left: calc((defaults.$layout-side-nav-padding-left - defaults.$layout-side-nav-header-offset-left) * -1) !important;
      margin-right: calc((defaults.$layout-side-nav-padding-right - defaults.$layout-side-nav-header-offset-right) * -1) !important;

      .vector-menu-heading {
        span {
          background: defaults.$color-cobalt;
          // Make the 3D effect a bit darker since $color-cobalt is a bit dark too.
          border-bottom-color: rgba(defaults.$color-black, 0.5);
        }
      }

      .vector-menu-content {
        .vector-menu-content-list {
          .mw-list-item {
            &.active-link {
              a {
                color: defaults.$color-cobalt;

                &::before {
                  @include colorize.colorize-cobalt;
                }
              }
            }
            a {
              //padding: 0.25em defaults.$layout-side-nav-header-offset-right 0.25em defaults.$layout-side-nav-header-offset-left;
            }
          }
        }
      }
    }
    &.small-panel {
      .mw-portlet {
        margin-left: -0.8em !important;
        margin-right: -0.8em !important;
      }
    }
    &.solid-panel {
      .mw-portlet {
        .vector-menu-heading {
          span {
            border-color: transparent;
          }
        }
        .vector-menu-content:not(.no-background) {
          background: rgba(defaults.$color-cobalt, 0.2);
        }
      }
    }
  }
}

// Copyright section and other links
#footer {
  color: white;

  li {
    color: white;
  }
  a {
    color: defaults.$color-dandelion;
  }
  a.new {
    opacity: 0.6;
  }

  margin-left: 0;
  margin-right: defaults.$layout-right-inset-content;
  padding: math.div(defaults.$layout-padding-v-content, 2) defaults.$layout-padding-h-content (defaults.$layout-padding-v-content * 2) (defaults.$layout-padding-h-content + defaults.$layout-left-inset-content + defaults.$layout-width-nav-panel);
  position: relative;
  min-height: 2.5em;

  ul {
    li {
      line-height: defaults.$line-height-regular;
      padding: 0 0 0.25em 0;
    }
  }

  #footer-icons {
    position: absolute;
    top: math.div(defaults.$layout-padding-v-content, 2);
    right: 0;
  }
  // Remove the copyright notices since we've got our custom notice.
  #footer-info-copyright,
  #footer-copyrightico {
    display: none;
  }
  // Hide our version since it's for debugging only.
  #footer-places-tc_version {
    display: none;
  }
  // This is our custom notice. Move it to the left column manually.
  #footer-places-tc_copyright {
    position: absolute;
    top: math.div(defaults.$layout-padding-v-content, 2) + 0.16em; // todo: not sure why this 0.15em is needed.
    left: (defaults.$layout-side-nav-padding-left - defaults.$layout-side-nav-header-offset-left + defaults.$layout-left-inset-content);

    .tc-copyright {
      .license-text {
        display: block;
        padding-bottom: 0;

        a {
          color: defaults.$color-white;
        }
      }
      .license-image {
        display: block;
        padding-top: 0.15em;

        img {
          width: 7em;
          height: auto;
          position: relative;
          left: -0.05em;
        }
      }
    }
  }
}
