@use "sass:color";
@use "../../defaults";
@use "../../colorize";
@use "../../icons";

body.tombooru {
  // Since we're totally replacing the regular body content, take out all of the regular things.
  #mw-content-subtitle,
  #firstHeading {
    display: none !important;
  }
  #contentSub,
  #contentSub2 {
    margin: 0;
  }
  // todo: mvoe this
  #mw-content-text .mw-content-panel:not(.mw-content-navigation-panel).solid-panel .tag-category::after {
    background-color: #{defaults.$color-cobalt};
  }

  #mw-content-text .tombooru-nav-panel {

  }

  #mw-content-text {
    // Anything following the navigation panel should always have zero margin.
    // Since the .mw-content-navigation-panel is floated, it too would adopt any margin.
    > .mw-content-navigation-panel + * {
      margin-top: 0 !important;
    }
    .tombooru-page {
      h1, h2, h3, h4, h5, h6 {
        &:first-child {
          margin-top: 0;
        }
      }
    }

    // The page content info section can include metadata about the current page.
    // For example, on search pages this is used to describe what tags we searched for.
    .page-content-meta {
      margin-top: -0.4em;
      padding-bottom: 0.4em;

      &.no-filters {
        display: none;
      }

      .content-meta {
        margin-left: -1em;
        margin-right: -1em;
        padding: 0.5em;
        position: relative;
        margin-bottom: 0;
        top: calc(-0.5em - 2px);
        border-radius: 0;
        border-bottom: 1px solid defaults.$color-light-gray-1;
        justify-content: center;
        display: flex;
      }
      .actions {
        justify-content: center;

        .item {
          &.tag {
            display: flex;
            min-width: 0;

            &.modifier-plus {
              .tag-modifier {
                display: none;
              }
            }
            &.type-tag {
              .tag-type {
                display: none;
              }
            }
          }
          &.label {
            font-weight: 400;
            color: defaults.$color-dark-gray;
          }
        }
      }
      .search-actions {
        position: absolute;

        &.left {
          left: 0.5em;
        }

        &.right {
          right: 0.5em;
        }

        .clear-search {
          margin-left: 0.125rem;
        }
      }
      .search-feedback.narrow {
        padding: 0.18em 0;
      }
    }
  }
}
