@use "../../defaults";
@use "../../layout";
@use "../../form";
@use "../../colorize";
@use "../../icons";

body.tombooru {
  #mw-content-text {
    .edit-form-wrapper {
      $tight-to-sides: true;
      $oversized-help-bg: false;
      $border-left-help-bg: true;
      $small-help: false;

      @if $tight-to-sides {
        margin-left: -1em;
        margin-right: -1em;
      }

      .tc-notification {
        @if $tight-to-sides {
          margin: 0 1em;
        }
      }

      h3, h4 {
        font-size: 1em;
        line-height: defaults.$line-height-regular;
        padding: 0;
        margin: 0;
      }
      h3 {
        font-weight: bold;
      }
      h4 {
        font-weight: 450;
      }

      textarea {
        resize: vertical;
      }

      .group {
        .group-inner {
          .group-content {
            display: grid;
            grid-template-columns: 2fr 10fr 10fr;
            gap: 0;
            border-bottom: 1px solid defaults.$color-light-gray-1;

            > div {
              padding: 0.5em 0;
            }

            .group-header {
              grid-column: 1;
            }
            .group-input {
              grid-column: 2;
            }
            .group-help {
              grid-column: 3;
            }
            .group-header, .group-input, .group-help {
              grid-row: 1;
            }
            &.has-error {
              textarea {
                --border-color: #{defaults.$color-radical-red};
                --primary: #{defaults.$color-radical-red};
                --outline: #{rgba(defaults.$color-radical-red, 0.4)};
              }
              select {
                border: 2px solid defaults.$color-radical-red;
                border-radius: 5px;
              }
              border-color: defaults.$color-radical-red;
              border-top-width: 1px;
              border-top-style: solid;
              margin-top: -1px;
              position: relative;
              z-index: 1;
              .group-input {
                border-right: 1px solid defaults.$color-radical-red;
              }
              .group-header {
                position: relative;

                &::before {
                  border-left: 1px solid defaults.$color-radical-red;
                }
              }
              .group-header,
              .group-input {
                background-color: rgba(defaults.$color-radical-red, 0.03);
              }
            }

            &:has(+ .group-content.help) {
              > div {
                padding-bottom: 0;
              }

              border-bottom: 0;
            }
            & + .group-content.help {
              > div {
                padding-top: 0;
              }
            }

            &.source-input {
              // The source input group is quite different from the rest. It has connected input fields on both columns.

              .actions {
                margin-top: 0.5em;
              }

              .source-input-field {
                display: flex;
                flex-direction: column;
                gap: 0.125rem;
              }

              .group-input.source-url {
                padding-right: 0;

                input {
                  border-top-right-radius: 0;
                  border-bottom-right-radius: 0;
                  width: calc(100% + 1px);
                  position: relative;

                  &:focus-visible {
                    z-index: 50;
                  }
                }
                .input-caption {
                  padding-right: 1em;
                }
              }
              .group-input.archive-url {
                grid-column: 3;
                padding-left: 0;

                .prefix {
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                  padding-left: 1em;
                  padding-right: 1em;
                }

                .input-caption {
                  padding-left: 1em;
                }
              }

            }

            .group-header {
              position: relative;
              min-width: 10rem;

              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
              }

              @if $tight-to-sides {
                padding-left: 1em;
              }

              h3 {
                font-weight: 450;
              }
            }
            .group-input {
              .help,
              .input-preview {
                margin-top: 0.5em;
              }
              .input-preview.tags {
                .actions {
                  flex-wrap: wrap;

                  .item {
                    min-width: inherit;
                  }
                }
              }
            }
            .group-input, .group-help {
              padding-left: 1em;
              padding-right: 1em;
              position: relative;

              &::after,
              &::before {
                pointer-events: none;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
                border: 0px solid defaults.$color-light-gray-1-5;
              }
            }
            .group-input {
              &::after {
                content: none;
              }
              input[type="file"] {
                width: 100%;
              }
              @include form.text-like-input {
                width: 100%;
              }
              .form-affixed {
                display: flex;

                input {

                }
                .prefix,
                .suffix {
                  color: defaults.$color-dark-gray;
                  white-space: nowrap;
                  padding: 0.0625rem 0.25rem;
                  line-height: 1.6;
                  border: 1px solid defaults.$color-light-gray-5;
                  border-left-color: defaults.$color-light-gray-2;
                  border-top-right-radius: defaults.$border-radius-xs;
                  border-bottom-right-radius: defaults.$border-radius-xs;
                  background: defaults.$color-superlight-gray;
                  max-width: 4rem;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  min-width: fit-content;

                  &:empty {
                    display: none;
                  }
                }
                .prefix {
                  border-left-color: defaults.$color-light-gray-5;
                  border-right-color: defaults.$color-light-gray-2;
                  border-top-right-radius: 0;
                  border-bottom-right-radius: 0;
                  border-top-left-radius: defaults.$border-radius-xs;
                  border-bottom-left-radius: defaults.$border-radius-xs;
                }
                .prefix:not(:empty) + input {
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                  border-left: 0;
                }
                input:has(+ .suffix:not(:empty)) {
                  border-top-right-radius: 0;
                  border-bottom-right-radius: 0;
                  border-right: 0;
                }

                &:has(input:focus-within) {
                  border-color: defaults.$color-cobalt;
                  outline: 3px solid rgba(defaults.$color-cobalt, 0.4);
                  border-radius: defaults.$border-radius-xs;

                  input:focus-within {
                    outline: none;
                  }
                  .prefix,
                  .suffix {
                    border-color: defaults.$color-cobalt;
                    background: rgba(defaults.$color-cobalt, 0.1);
                  }
                }
              }
            }
            .group-help {
              position: relative;
              &::after {
                z-index: 2;
                bottom: -1px;
                border-bottom: 1px solid defaults.$color-light-gray-1-5;
              }
              &::before {
                background: defaults.$color-superlight-gray;
                border: 0px solid defaults.$color-light-gray-1-5;

                @if $border-left-help-bg {
                  border-left-width: 1px;
                }
              }
              .help-inner {
                max-width: 35rem;
              }
            }
          }
          &.multiple-rows:has(.has-error) {
            position: relative;
            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: 15;
              border: 1px solid defaults.$color-radical-red;
              pointer-events: none;
            }
            .group-content {
              .group-header, .group-input {
                background: none;

                &::before {
                  background-color: rgba(defaults.$color-radical-red, 0.03);
                }
              }
              .group-input {
                border-right: 0;
              }
            }
          }
        }
        &.section-header {
          .group-inner {
            .group-content {
              padding-top: 1em;
              border-color: defaults.$color-light-gray-2;

              .group-header {
                &::after {
                  content: '.';
                  visibility: hidden;
                }
                h3 {
                  position: absolute;
                  font-weight: bold;
                }
              }
              .group-help {
                &::after {
                  border-color: defaults.$color-light-gray-2;
                }
              }
            }
          }
        }
        .help {
          @if $small-help {
            font-size: defaults.$font-size-caption;
            line-height: defaults.$line-height-caption;
          }

          p {
            margin: 0.1em 0;
          }
          p:first-child {
            margin-top: 0;
          }
          p:last-child {
            margin-bottom: 0;
          }
        }
      }
      .group.section-header:first-of-type {
        .group-inner .group-content .group-help::before {
          border-top-left-radius: defaults.$border-radius-xl;
          border-top-right-radius: defaults.$border-radius-xl;
        }
      }
      @if $oversized-help-bg {
        .group:last-of-type {
          .group-inner .group-content .group-help::before {
            bottom: -1.5em;
            border-bottom-left-radius: defaults.$border-radius-xl;
            border-bottom-right-radius: defaults.$border-radius-xl;
          }
        }
      }
      .group + .group.section-header {
        .group-inner {
          .group-content {
            .group-help {
              &::before {
                top: -1em;
              }
            }
          }
        }
      }
      @if not $oversized-help-bg {
        .group.section-header:first-of-type {
          .group-inner .group-content .group-help::before {
            display: none;
          }
        }
      }

      .error-list {
        margin-top: 0.5em;
        color: defaults.$color-radical-red-dark;
      }
    }
  }
}
