@use "sass:color";
@use "../../defaults";
@use "../../colorize";
@use "../../icons";

// We do a bunch of weird things to the navigation at the top of the page.
// First, we hide the search bar on the right side of the bar to make some space.
// Then, we transplant some HTML from the content section to the top nav section.
// This is the one really big layout hack that we do, and it's accomplished by
// a find and replace before outputting the HTML.

body.tombooru {
  #left-navigation {
    // Make some adjustments so we can have a tab on the right side as well.
    #p-namespaces {
      width: 100%;

      .vector-menu-content {
        width: 100%;

        .vector-menu-content-list {
          width: 100%;
          display: flex;

          > .divider {
            flex: 1 0;
          }
        }
      }
    }
  }
  #right-navigation {
    // Hide everything except #p-views. We'll put our extra content inside there.
    // This hides the search bar too. We don't need the search bar anyway, as the imageboard
    // has its own search that works differently anyway.
    > *:not(#p-views) {
      display: none !important;
    }

    #p-views {
      width: 100%;
    }
    .vector-menu-content-list {
      width: 100%;
      display: flex;

      // Select the last .mw-list-item *before* we get a .right item.
      .mw-list-item:has(+ .right):not(.right) {
        flex: 1 0;
      }
    }
  }
}
// We have an issue: we don't actually know whether there's a previous/next page in the navigation hook.
// So we hack around it a bit by setting classes on the <body> element.
body:not(.pagination-has-previous) {
  .nav-browse-page-previous {
    pointer-events: none !important;
  }
}
body:not(.pagination-has-next) {
  .nav-browse-page-next {
    pointer-events: none !important;
  }
}
