@use "sass:color";
@use "../../defaults";
@use "../../colorize";
@use "../../icons";

// The start page contains only a single search form in the middle of the page.
// This page utilizes the body.pink-page class, which strips it of the regular body content design.
body.tombooru {
  &.tombooru-page-start {
    // .hero-search is the big search bar that's only on the main page.
    .hero-search {
      display: flex;
      place-content: center;
      place-items: center;
      height: calc(100vh - 8em - 8em);
      text-align: center;

      .panel {
        .panel-primary {
          max-width: 40em;
          background: defaults.$color-white;
          width: 40em;
          display: flex;
          flex-direction: column;
          position: relative;
          z-index: 5;
          place-content: center;
          border-radius: defaults.$border-radius-xxl;
          padding: 1em;
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);

          > h1 {
            display: none;
          }

          .search-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1em;

            .search-bar {
              position: relative;

              .search-input {
                input {
                  box-shadow: 0 0 0 1px rgba(defaults.$color-cobalt, 0.0);
                  font-size: 1.4em;
                  outline: 0px solid transparent;

                  &:focus {
                    box-shadow: 0 0 0 4px rgba(defaults.$color-cobalt, 0.2);
                  }
                  &:focus-visible {
                    box-shadow: 0 0 0 4px rgba(defaults.$color-cobalt, 0.2);

                    + .button-container button {
                      filter: colorize.colorize-cobalt();
                    }
                  }
                }

                .autocomplete {
                  border-top: 0;
                  margin-top: 0;
                  text-align: left;

                  .entries tr td a {
                    font-size: 1.1em;
                    padding: 0.3em 0 0.3em 0.7em;
                  }
                }

                &:hover {
                  .autocomplete {
                    box-shadow: 0 0 0 0px transparent !important;
                  }
                }
              }
            }
          }

          .tag-suggestions {
            .actions span.item.label {
              color: defaults.$color-cobalt !important;
            }
            margin: 0 !important;
            padding: 1em 0 0 0 !important;
          }
        }
        .panel-secondary {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          padding-top: 4em;
          margin-top: -3em;
          z-index: 4;
          background: defaults.$color-light-gray-1-5;
        }
        .panel-outer {
          padding-top: 1em;
          color: white;
          p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
          }
          a {
            color: defaults.$color-dandelion;
          }
        }
        .quicklinks {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 0.6em;
          text-align: center;
        }
      }
    }
  }
}
