@use "sass:color";
@use "../../defaults";
@use "../../colorize";
@use "../../icons";
@use "../../functions";

// The browse page covers all the pages containing search results.
body.tombooru {
  --tombooru-results-base-size: 12rem;

  #mw-content-text {
    // The description of what we searched for and how many results we have.
    .search-result-info {
      margin-top: -0.4em;
      padding-bottom: 0.4em;
    }
    // A set of search results.
    .result-set {
      display: grid;
      gap: 1em;
      grid-template-columns: repeat(auto-fill, minmax(var(--tombooru-results-base-size), 1fr));
      padding-bottom: 5em;

      .post {
        position: relative;
        aspect-ratio: 1 / 1;
        overflow: hidden;

        &::before {
          border-radius: defaults.$border-radius-s;
          @include functions.image-border;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 5;
          pointer-events: none;
        }

        .media {
          border-radius: defaults.$border-radius-s;
          display: block;
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain
          }
        }
      }
    }
  }
}
