@use "sass:color";
@use "../../defaults";
@use "../../colorize";
@use "../../icons";

// The browse page covers all the pages containing search results.
body.tombooru {
  #mw-content-text {
    // A set of search results.
    .result-set {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;

      .post {
        .media {
          display: block;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain
          }
        }
      }
    }
  }
}