@use "sass:color";
@use "../../defaults";
@use "../../colorize";
@use "../../icons";
@use "../../functions";

// The browse page covers all the pages containing search results.
body.tombooru {
  --tombooru-results-base-size: 12rem;

  #mw-content-text {
    // The description of what we searched for and how many results we have.
    .search-result-info {
      margin-top: -0.4em;
      padding-bottom: 0.4em;

      &.no-filters {
        display: none;
      }

      .actions {
        margin-left: -1em;
        margin-right: -1em;
        padding: 0.5em 1.1em;
        position: relative;
        margin-bottom: 1em;
        top: calc(-0.5em - 2px);
        border-radius: 0;
        border-bottom: 1px solid defaults.$color-light-gray-1;
        justify-content: center;

        .item {
          &.tag {
            display: flex;
            min-width: 0;

            &.modifier-plus {
              .tag-modifier {
                display: none;
              }
            }
            &.type-tag {
              .tag-type {
                display: none;
              }
            }
          }
          &.label {
            font-weight: 400;
            color: defaults.$color-dark-gray;
          }
        }
      }
    }
    // A set of search results.
    .result-set {
      display: grid;
      gap: 1em;
      grid-template-columns: repeat(auto-fill, minmax(var(--tombooru-results-base-size), 1fr));
      padding-bottom: 5em;

      .post {
        position: relative;

        .image {
          position: relative;
          aspect-ratio: 1 / 1;

          &::before,
          &::after {
            @include functions.image-border;
            border-radius: defaults.$border-radius-s;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 5;
            pointer-events: none;
          }
          &::after {
            box-shadow: 0px 0px 0px 0px rgba(defaults.$color-cobalt, 0.0);
          }

          .media {
            border-radius: defaults.$border-radius-s;
            display: block;
            width: 100%;
            height: 100%;

            .media-embed {
              box-sizing: border-box;
              border-radius: defaults.$border-radius-s;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
        &.orientation-landscape,
        &.orientation-portrait {
          .image {
            padding: 0.25rem;
          }
        }
        &.orientation-square {
          .image {
            .media {
              .media-embed {
                object-fit: fill;
              }
            }
          }
        }

        .caption {
          text-align: center;
          p {
            font-weight: 450;
            margin: 0.32em 0 0 0;
          }
        }

        &.selected,
        &:hover {
          .image {
            &::before {
              box-shadow: inset 0px 0px 0px 1px rgba(defaults.$color-cobalt, 1);
            }
            &::after {
              box-shadow: 0px 0px 0px 4px rgba(defaults.$color-cobalt, 0.2);
            }
          }
          .caption {
            color: defaults.$color-cobalt;
          }
        }
      }

      // A header that separates the results.
      .result-separator-header {
        grid-column: 1 / -1;

        h1, h2, h3 {
          padding: 0;
          margin: 0;
        }
      }

      // This class is used when the result set enumerates a set's items on a set detail page.
      &.set-posts {
        padding-bottom: 2em;
      }

      // And this class is used when we're looking at the other set posts on a post detail page.
      // In this case the result items are smaller and a consistent size.
      &.is-post-primary-set {
        grid-template-columns: repeat(auto-fill, 8rem);
        padding-bottom: 2em;
      }
    }
    // When nothing was found for the given search.
    .empty-result-set {
      p {
        margin: 0;
      }
    }
  }
}
