@use "sass:color";
@use "../../defaults";
@use "../../colorize";
@use "../../icons";

// The detail page is where the user can see an image in full size.
// This covers all subpages of the detail page, including edit.
body.tombooru {
  #mw-content-text {
    .tombooru-page.page-detail {
      // The main image embed component.
      .media-embed {
        margin-bottom: 1em;

        // Dynamic scaling: this makes landscape images 100% width, and portrait images limited by height.
        // Images will always be fully visible without having to scroll.
        &.scaling-dynamic {
          a.media img {
            max-width: 100%;
            max-height: calc(100vh - 17.5em);
            height: auto;
            width: auto;
            object-fit: contain;
            display: block;
            margin: 0;
          }
        }

        // Fullwidth scaling: scale images to the full available width.
        // Can cause a lot of scrolling for portrait images.
        &.scaling-fullwidth {
          a.media img {
            width: 100%;
            height: auto;
          }
        }

        a.media {
          display: inline-block;
        }
      }

      // The user actions, such as favorite/upvote/downvote.
      .media-user-actions {
        margin-bottom: 1em;
      }

      // All subsequent post information such as the description.
      .post-details {

      }

      // The edit page. Most of the form styles are defined elsewhere.
      // This mostly just sets up the page layout.
      &.subpage-edit {
        .edit-form-wrapper {
          display: grid;
          grid-template-columns: 4fr 2fr;
          position: relative;
          background: defaults.$color-superlight-gray;
          margin-left: -1.0em;
          margin-right: -1.0em;
          margin-bottom: -1.0em;
          border-top: 1px solid defaults.$color-light-gray-1;
          gap: 0;
        }
        .edit-form, .preview {
          padding-left: 1em;
          padding-right: 1em;
          padding-bottom: 1.5em;
        }
        .edit-form {
          border-right: 1px solid defaults.$color-light-gray-1;
          textarea {
            resize: vertical;
          }

          .group {
            .help {
              font-size: defaults.$font-size-caption;
              line-height: defaults.$line-height-caption;

              p:first-child {
                margin-top: 0;
              }
              p:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
        .preview {
          background-color: white;
          padding: 1em;
        }
      }

      // The data page. This shows all the raw data we have for a given image.
      &.subpage-data {
      }
    }
  }
}
