@use "../../defaults";

.tag-type {
  --tag-color: #{defaults.$color-green-haze};
}
.tag-type[data-tag-type="Copyright"] {
  --tag-color: #{defaults.$color-teal};
}
.tag-type[data-tag-type="Artist"] {
  --tag-color: #{defaults.$color-aqua};
}
.tag-type[data-tag-type="Character"] {
  --tag-color: #{defaults.$color-cobalt};
}
.tag-type[data-tag-type="Location"] {
  --tag-color: #{defaults.$color-violet};
}
.tag-type[data-tag-type="Meta"] {
  --tag-color: #{defaults.$color-gray};
}
.tag-type[data-tag-type="Generic"] {
  --tag-color: #{defaults.$color-green-haze};
}
