@use "sass:color";
@use "sass:math";
@use "../defaults";
@use "../layout";
@use "../colorize";
@use "../icons";

// "Actions" are links or buttons that perform some kind of action, such as adding a filter
// or downloading a file. They can also be used to indicate labels alongside buttons.
// Four colors are usable: blue (default), green, yellow and pink. Buttons are positive by default.
// If .active is added, the buttons become negative. .label is used for text sections.
// If an item has .icon, it will display an icon that can be set by setting the --icon CSS variable.
//
// These are used for pagination sections as well as on the imageboard to indicate e.g. downloads.
#mw-content-text {
  .actions {
    font-variant-numeric: tabular-nums;
    display: flex;
    gap: 0.25rem;

    &.narrow-gap {
      gap: 0.1875rem;
    }

    // For grouping links together.
    .action-sets {
      display: flex;
      gap: 0.65rem;

      .action-set {
        display: flex;
        gap: 0.25rem;

        &.narrow-gap {
          gap: 0.1875rem;
        }
      }
    }

    // Unlinked items, as well as text labels.
    span {
      cursor: default;
    }

    // Linked items.
    a {
      cursor: pointer;

      > span {
        cursor: pointer;
      }

      &.here {
        text-decoration: underline;
      }
    }

    // The items are the basic links themselves.
    // ::after covers the background element, and ::before covers the icon, if set.
    .item {
      --action-color: var(--portlet-color, #{defaults.$color-cobalt});
      --action-color-filter: var(--portlet-color-filter, #{colorize.colorize-cobalt()});
      --bg-regular: 0.1;
      --bg-regular-hover: 0.2;
      --bg-active: 1.0;
      --bg-active-hover: 0.75;
      position: relative;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      padding: 0 0.5em;
      min-width: 2.10em;
      color: var(--action-color);
      background: transparent;
      width: inherit;
      font-size: defaults.$layout-font-size-nav-sub;
      font-weight: defaults.$font-subnav-weight;
      height: #{math.div(defaults.$layout-height-nav-sub, defaults.$layout-font-size-nav-sub) - 1em};
      line-height: #{math.div(defaults.$layout-height-nav-sub, defaults.$layout-font-size-nav-sub) - 1.03em};

      &::after {
        // The background section pseudoelement.
        content: '';
        width: auto;
        height: auto;
        display: block;
        position: absolute;
        border-radius: defaults.$border-radius-xs;
        background: none;
        background-color: var(--action-color);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        opacity: var(--bg-regular);
      }
      &::before {
        // The icon section pseudoelement.
        filter: var(--action-color-filter);
        content: '';
        width: #{math.div(layout.$icon-width, defaults.$layout-font-size-nav-sub)}em;
        height: auto;
        display: none;
        position: absolute;
        top: 0;
        left: 0.625em;
        bottom: 0;
        background: none;
        background-position: 0 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: var(--icon);
        z-index: 4;
      }

      // A "label" type has no background.
      &.label {
        padding-left: 0;
        padding-right: 0;
        cursor: auto;
        
        &::after {
          display: none;
        }

        // Fix the padding if there's an icon.
        &.icon {
          padding-left: 1.5em;
          padding-right: 0;

          &::before {
            left: 0.125em;
          }
        }
      }

      // If .icon is set, space is added on the left side for an icon.
      // The icon is set through the --icon CSS variable.
      &.icon {
        padding-left: 2.0em;

        &::before {
          display: block;
        }
      }

      // If .icon-only is set (in conjunction with .icon), the text is omitted and the icon is centered.
      &.icon.icon-only {
        padding: 0;
        text-indent: -9999px;
        position: relative;
        &::before {
          left: 0;
          right: 0;
          width: auto;
          background-size: #{math.div(layout.$icon-width, defaults.$layout-font-size-nav-sub)}em;
          background-position: 50%;
        }
      }
    }

    a.item.label {
      cursor: pointer;
    }

    // All color styles.
    .item {
      // "Active" items have a fully opaque background and white text.
      &.active {
        color: defaults.$color-white !important;
        &::after {
          opacity: var(--bg-active);
        }
        &::before {
          filter: colorize.colorize-white() !important;
        }
      }

      &.red {
        --action-color: #{defaults.$color-radical-red};
        &::before {
          filter: colorize.colorize-radical-red();
        }
      }

      &.orange {
        --action-color: #{defaults.$color-orange};
        --bg-regular: 0.15;
        --bg-regular-hover: 0.25;
        &::before {
          filter: colorize.colorize-orange();
        }
      }

      &.yellow {
        color: defaults.$color-sahara;
        --action-color: #{defaults.$color-dandelion};
        --bg-regular: 0.3;
        --bg-regular-hover: 0.5;
        --bg-active: 1.0;
        --bg-active-hover: 0.75;
        &::before {
          filter: colorize.colorize-sahara();
        }
        &.active {
          --action-color: #{defaults.$color-corn};
        }
      }

      &.green {
        --action-color: #{defaults.$color-green-haze};
        &::before {
          filter: colorize.colorize-green-haze();
        }
      }

      &.teal {
        --action-color: #{defaults.$color-teal};
        &::before {
          filter: colorize.colorize-teal();
        }
      }

      &.aqua {
        --action-color: #{defaults.$color-aqua};
        &::before {
          filter: colorize.colorize-aqua();
        }
      }

      &.pink {
        --action-color: #{defaults.$color-deep-blush};
        --bg-regular: 0.2;
        --bg-regular-hover: 0.3;
        &::before {
          filter: colorize.colorize-deep-blush();
        }
      }

      &.magenta {
        --action-color: #{defaults.$color-magenta};
        &::before {
          filter: colorize.colorize-magenta();
        }
      }

      &.violet {
        --action-color: #{defaults.$color-violet};
        // --bg-regular: 0.2;
        // --bg-regular-hover: 0.3;
        &::before {
          filter: colorize.colorize-violet();
        }
      }

      &.gray {
        --action-color: #{defaults.$color-gray};
        --bg-regular: 0.15;
        --bg-regular-hover: 0.25;
        &::before {
          filter: colorize.colorize-gray();
        }
      }
    }
    a.item {
      &:hover {
        &::after {
          opacity: var(--bg-regular-hover);
        }
      }
      &.active {
        &:hover {
          &::after {
            opacity: var(--bg-active-hover);
          }
        }
      }
    }

    &.list {
      .action-sets {
        display: flex;
        width: 100%;

        .action-set {
          display: flex !important;
          flex-direction: column;
          width: 100%;

          .item {
            width: auto;
            text-align: left;
            height: 1.8em;
            line-height: 1.8em;
          }
        }
      }
    }
  }

  // Special adjustments for portlets. Inside portlets we want darker text.
  .mw-content-panel.solid-panel {
    .mw-portlet {
      .actions {
        .action-set {
          display: block;
        }
        .item {
          font-size: 1em;

          --action-color: var(--portlet-color-dark, #{colorize.portlet-darken(defaults.$color-cobalt)});
          --action-color-filter: var(--portlet-color-dark-filter, #{colorize.colorize-cobalt()} #{colorize.portlet-darken-filter()});

          &:hover {
            text-decoration: underline;
          }

          &.green {
            --action-color: var(--portlet-color-dark, #{colorize.portlet-darken(defaults.$color-cobalt)});
            --action-color-filter: var(--portlet-color-dark-filter, #{colorize.colorize-cobalt()} #{colorize.portlet-darken-filter()});

          }
        }
      }
    }
  }

  // Adjustments for items appearing in the section footer (the footer of the main content area).
  .actions.section-footer {
    display: flex;
    place-content: start;
    position: absolute;
    bottom: 0;
    left: defaults.$layout-width-nav-panel;
    right: 0.75em;
    border-top: 1px solid defaults.$color-light-gray-1;
    padding: 0.5em;
  }

  // Specific adjustments for the pagination section.
  .actions.pagination {
    place-content: center !important;
    padding-top: 1em;
    padding-bottom: 1em;

    .action-set {
      &.page-numbers {
        .item {
          padding-left: 0;
          padding-right: 0;

          &.len-1 {
            min-width: 2.10em;
          }
          &.len-2 {
            min-width: calc(2.10em + 0.6ch);
          }
          &.len-3 {
            min-width: calc(2.10em + 1.2ch);
          }

          &.ellipsis {
            &::after {
              display: none !important;
            }
          }
        }
      }

      &.previous-next {
        .item {
          &.previous {
            --icon: #{icons.icon-url('arrow-left')};
          }
          &.next {
            --icon: #{icons.icon-url('arrow-right')};
          }
        }
      }
    }
  }

  // The "narrow" actions set is used in places like the BigTable component.
  .actions.narrow {
    .item {
      line-height: 1.7;
      height: auto;

      &.icon {
        padding-left: 1.8em;

        &::before {
          left: 0.475em;
        }
      }
    }
  }
}

// On the alt-content pages (pages without a regular white backdrop),
// the footer section needs to be adjusted to properly center it.
body.alt-content {
  #mw-content-text {
    .actions.section-footer {
      position: static;
      border-top: 0;
      padding-top: 1.5em;
      left: 0;
      right: 0;
    }
  }
}
