@use "../defaults";
@use "../colorize";

// The BigTable template that is used to display an entire page's worth of sortable data.
.tc-big-table {
  $gap: 1em;
  $highlight-color: defaults.$color-cobalt;
  $left: (defaults.$layout-width-nav-panel + defaults.$layout-padding-h-content);
  $top: calc(2em + 1px);
  position: relative;
  margin: 0 -1em;

  &.is-article-header {
    top: calc((defaults.$layout-padding-v-content + defaults.$layout-inset-content + 0.5em - 2px) * -1);
    left: calc($left * -1);
    width: calc(100% + (defaults.$layout-width-nav-panel + defaults.$layout-padding-h-content + defaults.$layout-padding-h-content + defaults.$layout-inner-right-inset));
    margin: 0;
    margin-bottom: calc(-2em - 2px);

    &::before {
      border-top: 1px solid transparent;
    }

    > .inner {
      clip-path: polygon(0.0% 0.0%, 100% 0%, 100% $top, 100% 100%, ($left - 1em) 100%, ($left - 1em) $top, 0% $top);
    }

    table {
      padding-left: calc($left - 1em);
      padding-right: defaults.$layout-inner-right-inset;
      margin: 0;
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    background: defaults.$color-superlight-gray;
    border-top: 1px solid defaults.$color-light-gray-2;
    border-bottom: 1px solid defaults.$color-light-gray-2;
    left: 0;
    right: 0;
    top: 0;
    height: calc(2em + 1px);
    z-index: -1;
    box-sizing: border-box;
  }

  > .inner {
    overflow-x: auto;
  }

  // In case we don't want visited links; for tables where the content isn't wiki content.
  &.no-visited {
    a:visited {
      color: defaults.$color-cobalt;
    }
    a.new:visited {
      color: defaults.$color-nonexistent;
    }
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    white-space: nowrap;
    line-height: 1.6;
    padding-top: 0;
    margin: 0 1em;

    tr.header {
      position: relative;
      top: 0;

      > th {
        font-weight: 450;
        text-align: left;
        border-right-width: 1px;
        position: relative;
        user-select: none;
        color: defaults.$color-dark-gray;
        cursor: pointer;
        height: calc(2em + 1px);
        box-sizing: border-box;

        &:not(.minimal) {
          padding-right: calc(0.5em + 1rem + 0.5em);
        }

        &.minimal {
          text-indent: -9999px;

          > .sorter {
            right: calc(50% - 0.5rem);
            top: calc(50% - 0.5rem);
            opacity: 1;
          }
        }

        &.id {
          width: 0.1%;
          min-width: 4.6ch;
        }

        &:hover {
          &::before {
            background-color: rgba($highlight-color, 0.1);
          }
          > .sorter {
            opacity: 1;
          }
        }

        &::before, &::after {
          position: absolute;
          top: 0;
          left: -1px;
          right: -1px;
          bottom: 0;
          content: '';
          background: transparent;
          border: 1px solid transparent;
        }
        > .sorter {
          filter: colorize.colorize-dark-gray();
          opacity: 0;
          position: absolute;
          right: 0.5em;
          top: calc(50% - 0.5rem);
          width: 1rem;
          height: 1rem;
          background-image: url('./assets/icons/arrow-down.svg');
          background-position: 0 0;
          background-repeat: no-repeat;
        }

        &[data-direction="desc"] {
          > .sorter {
            transform: rotate(180deg);
          }
        }

        &[data-active="true"] {
          color: defaults.$color-white;
          background-color: $highlight-color;

          &::before {
            border-color: $highlight-color;
          }
          &::after {
            border-color: rgba(defaults.$color-black, 0.9);
          }
          > .sorter {
            filter: colorize.colorize-white();
            opacity: 1;
          }
        }
      }
      > th:first-child {
        //padding-left: 1.0em;
        border-left: 1px solid transparent;
      }
      > th:last-child {
        border-right-width: 0;
      }
    }

    tr.separator {
      td {
        border: 0;
        background: transparent !important;
        padding: 0;
        height: $gap;
      }
    }

    tr:not(.header) {
      td, th {
        border-top-width: 1px;
        border-right-width: 1px;
        background: defaults.$color-white;
      }
      td, th {
        &:first-child {
          border-left-width: 1px;
          //padding-left: 1.0em;
        }
      }
      td {
        // The .inner tag is used to ensure the text displays on top of the ::before highlight.
        .inner {
          position: relative;
          z-index: 5;
        }
      }
      td.tiny {
        width: 0.1%;
      }
      td.even-padding {
        padding-left: calc(0.2em + 1px);
        padding-right: calc(0.2em + 1px);
      }
      td.mono {
        font-family: defaults.$font-mono;
        font-size: defaults.$font-mono-size;
      }
      td:has(+ td.control-panel) {
        // The .control-panel holds actions ("edit", etc) and only shows up on hover.
        // It's expected to be all the way on the right side of the table.
        border-right: 0;
      }
      td.control-panel .inner {
        visibility: hidden;
      }
      &:hover {
        td.control-panel .inner {
          visibility: visible;
        }
      }
      td.highlighted {
        position: relative;
        &::before {
          pointer-events: none;
          position: absolute;
          top: -1px;
          left: -1px;
          right: -1px;
          bottom: -1px;
          background-color: rgba($highlight-color, 0.1);
          content: '';
        }
      }
      &:has(+ .separator),
      &:last-child {
        td, th {
          border-bottom-width: 1px;
        }
        td:first-child {
          border-bottom-left-radius: defaults.$border-radius-m;

          &::before {
            border-bottom-left-radius: defaults.$border-radius-m;
          }
        }
        td:last-child {
          border-bottom-right-radius: defaults.$border-radius-m;

          &::before {
            border-bottom-right-radius: defaults.$border-radius-m;
          }
        }
      }
    }

    tr.section {
      td {
        border-right-color: transparent;
        background: defaults.$color-superlight-gray;

        &:first-child {
          border-top-left-radius: defaults.$border-radius-xl;
        }

        &:last-child {
          border-right-color: defaults.$color-light-gray-2;
          border-top-right-radius: defaults.$border-radius-xl;
        }
      }

      .title {
        border: 0 !important;
        padding: 0;
        font-weight: bold;
        margin: 0;
        font-size: 1em;
        line-height: defaults.$line-height-regular;

        &.header {
          font-size: 1.2em;
          font-family: defaults.$font-header;
          font-weight: bold;
          line-height: 1.5;
        }
      }
    }

    tr.notification {
      td {
          text-align: center;
          padding-top: 3em;
          padding-bottom: 3em;
          font-weight: 450;
      }
    }

    // In case we have a separator without a section before it.
    .header + .separator + tr {
      td, th {
        &:first-child, &:first-child::before {
          border-top-left-radius: defaults.$border-radius-m;
        }
        &:last-child, &:last-child::before {
          border-top-right-radius: defaults.$border-radius-m;
        }
      }
    }

    td, th {
      padding: 0.2em 0.5em;
      border-width: 0;
      border-style: solid;
      border-color: defaults.$color-light-gray-2;

      &.right {
        text-align: right;
      }
    }
  }

  &[data-is-sortable="false"] {
    table {
      tr.header {
        > th:not(.minimal) > .sorter {
          display: none;
        }
      }
    }
  }
}
.mw-parser-output {
  h2:has(+ .tc-big-table) {
    border-bottom: 0 !important;
  }
  h2 + .tc-big-table {
  }
}
.tc-big-table + .inline-backdrop {
  margin-top: calc(1em + 2px);
}
.tc-big-table + .inline-backdrop + h1, 
.tc-big-table + .inline-backdrop + h2 {
  margin-top: 0;
}
