@use "../defaults";

.icon-item {
  width: 1em;
  height: 1em;
  display: inline flow-root list-item;
  position: relative;
  line-height: 1;
  margin-right: 0.20em;

  &::marker {
    content: '';
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: var(--icon);
    background-size: contain;
  }
}
