@use "../defaults";
@use "../colorize";
@use "../icons";
@use "../functions";

// Infobox design.
.tc-infobox {
  // Colors follow the same pattern as navigation portlets.
  --color: #{defaults.$color-green-haze};
  --color-heading-text: #{defaults.$color-white};

  float: right;
  clear: right;

  th, td {
    padding: 0;
  }

  border: 1px solid defaults.$color-light-gray-2;
  padding: 2px;
  background-color: defaults.$color-superlight-gray;
  border-radius: defaults.$border-radius-s;
  box-sizing: border-box;
  margin-left: 1.0em;
  margin-bottom: 1.4em;
  max-width: 22em;

  @for $i from 1 through 3 {
    .viewing-image-#{$i} {
      .main-image .image-items {
        left: #{($i - 1) * 110}#{"%"};
      }

      + .tc-infobox-labels {
        .main-image-labels .label-items .label-item.img-#{$i} {
          background: var(--color, defaults.$color-green-haze);
          color: white;

          &::before {
            filter: colorize.colorize-white();
          }
        }
      }
    }
  }

  .main-image {
    overflow: hidden;

    &.frameless {
      .image {
        &::before {
          display: none;
        }
        img {
          border-radius: 0 !important;
        }
      }
    }

    .image-items {
      position: relative;
      display: flex;
      align-items: center;
    }

    .image-item {
      margin: 0;
      position: absolute;
      width: 100%;

      &.img-1 {
        position: relative;
      }
      &.img-2 {
        left: -110%;
      }
      &.img-3 {
        left: -220%;
      }

      &.frameless {
        .image::before {
          display: none;
        }
      }
    }

    .image {
      display: block;
      position: relative;

      &::before {
        @include functions.image-border;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: defaults.$border-radius-xxs;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: defaults.$border-radius-xxs;
      }

      &:has(+ .image-caption) {
        margin-bottom: 0.5em;
      }
    }
  }

  .main-image-labels {
    padding: 0.5em 0;
    
    .label-items {
      text-align: center;
      display: flex;
      gap: 0.25em;
      place-content: center;

      .label-item {
        font-size: defaults.$font-size-caption;
        font-weight: defaults.$font-subnav-weight;
        background: rgba(defaults.$color-green-haze, 0.1);
        color: defaults.$color-green-haze;
        padding: 0.1em 0.8em;
        border-radius: defaults.$border-radius-xs;
        position: relative;
        cursor: pointer;

        &:hover {
          background: rgba(defaults.$color-green-haze, 0.25);
        }

        &::before {
          // TODO: make this configurable via CSS vars.
          // This will require moving these @includes to functions.
          filter: colorize.colorize-green-haze();
          width: 0.875rem;
          height: 0.875rem;
          left: 0.8em;
          top: calc(50% - (0.875rem * 0.5));
          position: absolute;
          display: inline-block;
          vertical-align: text-top;
          background: transparent;
          background-position: 50% 50%;
          background-size: cover;
          background-repeat: no-repeat;
        }

        &.frameless {
          padding-left: calc(0.8em + 1rem);

          &::before {
            content: '';
            background-image: url('./assets/icons/cd.svg');
          }
        }
      }
    }
  }

  .image-caption {
    display: block;
    text-align: center;
    padding-bottom: 0.25em;

    .caption-text {
      font-size: defaults.$font-size-caption;
      color: defaults.$color-gray-1;
      position: relative;
      padding-left: 1.25rem;
      display: inline-block;
      font-weight: defaults.$font-subnav-weight;

      &::before {
        filter: colorize.colorize-gray-1();
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: icons.icon-url('image') no-repeat;
        background-position: 0 50%;
        background-size: 1rem;
        z-index: -1;
        pointer-events: none;
      }
    }
  }

  .row {
    td, th {
      font-size: defaults.$font-size-caption;
      line-height: defaults.$line-height-regular;
      padding: 0.1em 0 0.1em;
      vertical-align: top;
    }
    td {
      font-weight: defaults.$font-subnav-weight;
    }
    th {
      text-align: left;
      padding-left: 0.25em;
      padding-right: 1.5em;
      width: 10%;
      white-space: nowrap;
    }
  }

  .row {
    .flag {
      filter: drop-shadow(0 1px 0 rgba(defaults.$color-black, 0.25))
        drop-shadow(0.5px 0 0 rgba(defaults.$color-black, 0.1))
        drop-shadow(-0.5px 0 0 rgba(defaults.$color-black, 0.1))
        drop-shadow(0 -0.5px 0 rgba(defaults.$color-black, 0.1));
    }
  }

  // Use this class when you don't want the <th> cells to be minimal width.
  &.regular-width {
    .row {
      th {
        width: inherit;
        white-space: inherit;
      }
    }
  }

  .tc-infobox-separator {
    th {
      padding: 0.1em 0 0.1em;

      .header {
        padding: 2px 0 1px;
        background: var(--color, defaults.$color-green-haze);
        font-weight: defaults.$font-subnav-weight;
        color: var(--color-heading-text, defaults.$color-white);
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: defaults.$layout-rounding-nav-main;

        .icon-item {
          filter: colorize.colorize-white();
        }
      }
    }
  }

  .tc-infobox-links {
    .links {
      display: flex;
      place-content: center;
      gap: 0.25em;

      // Normally we put a .link.instagram etc. in here.
      // But for the autogenerated artist pages, we actually use site-favicon items.
      // In that case, wrangle the styles a bit so they fit.
      &:has(.site-favicon) {
        .site-favicon {
          z-index: 5;
          position: relative;
          display: flex;
          cursor: pointer;

          &::before {
            z-index: 10;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: auto;
            width: auto;
            background-size: 1rem;
            pointer-events: none;
          }
          > a {
            padding: 0;
          }

          &:hover {
            &::before {
              filter: colorize.colorize-salem();
            }
          }
        }
      }
    }

    .mw-parser-output {
      // In case we're rendering only the social media links and injecting it.
      display: contents;
    }

    .link {
      position: relative;

      &::after {
        content: '';
        width: 2em;
        height: 2em;
        position: absolute;
        display: block;
        visibility: hidden;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        background-size: 80% 80%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }

      @each $icon in defaults.$social-media-sites {
        &.#{$icon}::before {
          background-image: url('./assets/social/#{$icon}.svg');
        }
        &.#{$icon}::after {
          background-image: url('./assets/social/#{$icon}-mask.svg');
        }
        &:hover {
          &.#{$icon}::before {
            background-image: url('./assets/social/#{$icon}-mask.svg');
          }
        }
      }

      a {
        display: block;
        text-indent: -9999px;
        width: 2em;
        height: 2em;
        border: 1px solid defaults.$color-light-gray-2;
        background: defaults.$color-light-gray-1;
        border-radius: defaults.$border-radius-xs;

        &::after {
          content: '';
          display: none;
        }
      }

      &:hover {
        &::before {
          filter: colorize.colorize-green-haze();
        }
        a {
          border-color: defaults.$color-green-haze;
          background-color: rgba(defaults.$color-green-haze, 0.2);
        }
      }
    }
  }
}
