// Japanese name wrapper.
.tpl-japanese-name {
  word-break: break-all;

  .tpl-western-version {
    word-break: break-word;
  }
  .tpl-japanese-version {
    white-space: nowrap;
    word-break: break-word;
  }
}
