@use "../defaults";
@use "../colorize";

// This is used for big error notifications that aren't MediaWiki specific.
.tc-notification {
  --notification-color: #{rgba(defaults.$color-black, 0.14)};
  --notification-shadow: #{rgba(defaults.$color-black, 0.0)};
  --notification-icon-filter: #{colorize.colorize-black()};

  position: relative;
  font-size: 1em;
  border: 1px solid defaults.$color-light-gray-2;
  border-color: var(--notification-color);
  padding: 1px;
  border-radius: defaults.$border-radius-m;
  margin: 1.25em 0;
  box-shadow: 0 0 0 4px var(--notification-shadow);

  .inner {
    padding: 0.75em 0.9em;
  }

  h1, h2, h3 {
    margin: 0;
    padding: 0;
    position: relative;
  }

  &.icon {
    h1, h2, h3 {
      padding-left: 1.55rem;
      margin-left: -0.25rem;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 1.5rem;
        background: var(--icon);
        background-size: contain;
        background-position: 0 50%;
        background-repeat: no-repeat;
        filter: var(--notification-icon-filter) drop-shadow(0 1px 0 var(--notification-shadow)) brightness(0.95);
      }
    }
  }

  pre {
    background-color: defaults.$color-light-gray-1;
  }

  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }

  &.type-success,
  &.type-warning,
  &.type-error {
    border-width: 2px;
    padding: 0;
  }

  &.type-success {
    --icon: url('./assets/icons/notification-check.svg');
    --notification-color: #{defaults.$color-malachite};
    --notification-shadow: #{rgba(defaults.$color-malachite, 0.1)};
    --notification-icon-filter: #{colorize.colorize-malachite()};
  }
  &.type-warning {
    --notification-color: #{defaults.$color-corn};
    --notification-shadow: #{rgba(defaults.$color-corn, 0.1)};
  }
  &.type-error {
    --icon: url('./assets/icons/notification-cross.svg');
    --notification-color: #{defaults.$color-radical-red};
    --notification-shadow: #{rgba(defaults.$color-radical-red, 0.1)};
    --notification-icon-filter: #{colorize.colorize-radical-red()};
  }
}
