@use "sass:color";
@use "../defaults";

// The action notifications. These show up e.g. when you watch/unwatch a page.
#mw-notification-area {
  padding: 1.8em 2em;
  width: 35em;

  > .mw-notification {
    border-radius: 10px;
    padding: 0.75em 1.1em 0.75em calc(1.1em + 1em + 32px);
    background-image: url('./assets/chara.png');
    background-repeat: no-repeat;
    background-position: (1.1em) center;
    background-size: 32px 35px;
    background-color: defaults.$color-dandelion;
    border: 6px solid defaults.$color-dandelion;
    box-shadow: 0px 2px 0px color.mix(#000, defaults.$color-dandelion, 20%);

    &:hover {
      background-color: defaults.$color-dandelion-2;
      border-color: defaults.$color-dandelion-2;
      box-shadow: 0px 2px 0px color.mix(#000, defaults.$color-dandelion-2, 20%);
    }
  }
}