@use "sass:color";
@use "../defaults";
@use "../functions";

// Metadata for images and other uploads.
.mw_metadata {
  $radius: defaults.$border-radius-table;

  @include functions.table-universal();
  @include functions.table-rounded($radius);
  
  width: auto;
  margin: 0;
  font-size: 1em;

  th {
    text-align: left;
    background-color: color.mix(#000, defaults.$color-light-gray-1, 2%);
  }
  td {
    background-color: color.mix(#fff, defaults.$color-light-gray-1, 80%);
  }
  th, td {
    border-color: defaults.$color-light-gray-5;
  }

  tr:has(+ .mw-metadata-show-hide-extended) {
    th:first-child, td:first-child {
      border-bottom-left-radius: $radius;
    }
    th:last-child, td:last-child {
      border-bottom-right-radius: $radius;
    }
    th, td {
      border-bottom-width: 1px;
    }
  }

  // Normally this is collapsible, but we want it to always be expanded.
  .mw-metadata-collapsible {
    display: inherit !important;
  }
  .mw-metadata-show-hide-extended {
    display: none !important;
  }
}
