@use "sass:color";
@use "../defaults";
@use "../functions";

// Metadata for images and other uploads.
.mw_metadata {
  @include functions.table-universal();

  $amount: 'm';
  
  width: auto;
  margin: 0;
  font-size: 1em;

  th {
    text-align: left;
    background-color: color.mix(#000, defaults.$color-light-gray-1, 2%);
  }
  td {
    background-color: color.mix(#fff, defaults.$color-light-gray-1, 80%);
  }
  th, td {
    border-color: defaults.$color-light-gray-5;
  }

  // Normally this is collapsible, but we want it to always be expanded.
  &.collapsed {
    .mw-metadata-collapsible {
      display: inherit !important;
    }
    .mw-metadata-show-hide-extended {
      display: none !important;
    }

    // Compensate for the show-hide node.
    &:has(.mw-metadata-show-hide-extended) tbody:last-child {
      tr:nth-last-child(2) {
        th, td {
          border-bottom-width: 1px;
        }
      }
    }
  }

  tr:first-child {
    th:first-child, td:first-child {
      @include functions.border-radius($amount, ('tl'));
    }
    th:last-child, td:last-child {
      @include functions.border-radius($amount, ('tr'));
    }
  }
  tr:nth-last-child(2) {
    th:first-child, td:first-child {
      @include functions.border-radius($amount, ('bl'));
    }
    th:last-child, td:last-child {
      @include functions.border-radius($amount, ('br'));
    }
  }
}