@use "../defaults.scss";
@use "../colorize.scss";
@use "../functions.scss";

$sites: defaults.$favicon-sites;
$aliases: defaults.$favicon-aliases;

@function favicon-url($path) {
  @return functions.str-replace($path, "/", "_");
}

// Base styles.
.site-favicon {
  --favicon-colorize: #{colorize.colorize-salem()};
  --favicon-fallback: url('./assets/site-favicons/fallback.png');
  --favicon: url('./assets/site-favicons/fallback.png');
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: calc(50% - 0.5rem);
    left: 0;
    right: 0;
    height: 1rem;
    width: 1rem;
    background-image: var(--favicon, var(--favicon-fallback));
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 1.5px;
    overflow: hidden;
    filter: var(--favicon-colorize) drop-shadow(0px 1px 0px rgba(0, 0, 0, 0.15));
  }
}

.mw-body-content {
  .site-favicon {
    a {
      padding-left: 1.1875rem;
    }

    // Pick the icon based on what the <a href> has.
    @each $alias, $domain in $aliases {
      &:has(a[href*="#{$alias}"]) {
        --favicon: url('./assets/site-favicons/#{favicon-url($domain)}.png');
        --favicon-colorize: ;
      }
    }
    @each $domain in $sites {
      &:has(a[href*="#{$domain}"]),
      &[class*="domain-#{$domain}"] {
        --favicon: url('./assets/site-favicons/#{favicon-url($domain)}.png');
        --favicon-colorize: ;
      }
    }
    // If a data-url attribute is added to the .site-favicon,
    // that takes precedence over whatever the <a href> has.
    @each $alias, $domain in $aliases {
      &[data-url*="#{$alias}"] {
        --favicon: url('./assets/site-favicons/#{favicon-url($domain)}.png');
        --favicon-colorize: ;
      }
    }
    @each $domain in $sites {
      &[data-url*="#{$domain}"] {
        --favicon: url('./assets/site-favicons/#{favicon-url($domain)}.png');
        --favicon-colorize: ;
      }
    }
  }
}
