@use "sass:color";
@use "../defaults";
@use "../colorize";
@use "../functions";

// Standard Wikitable with rounding.
table.wikitable {
  @include functions.table-universal();
  @include functions.table-rounded();

  border: none;

  tbody, thead, tfoot {
    tr {
      th, td {
        border-color: defaults.$color-light-gray-2;
      }
      th {
        background-color: defaults.$color-superlight-gray;
      }
      td {
        background-color: white;
      }
    }
  }

  &.align-left {
    th {
      text-align: left;
    }
  }

  &.dark {
    tbody, thead, tfoot {
      tr {
        th, td {
          border-color: defaults.$color-light-gray-5;
        }
        th {
          background-color: defaults.$color-light-gray-1-25;
        }
        td {
          background-color: defaults.$color-superlight-gray;
        }
      }
    }
  }

  // Make the external links a bit darker.
  a.external {
    color: defaults.$color-salem;
  }
  a.external::after {
    filter: colorize.colorize-salem();
  }
  a.external:visited {
    color: defaults.$color-salem;
  }
  a.external:visited::after {
    filter: colorize.colorize-salem();
  }
}
