@use "sass:color";
@use "../defaults";

body.tombooru {
  #firstHeading {
    display: none !important;
  }
  #mw-content-subtitle,
  #contentSub,
  #contentSub2 {
    margin: 0;
  }
  .tombooru-nav-panel {
    .tag-list {
      line-height: defaults.$line-height-sidebar-small;
      width: 100%;
      padding: 0;
      border-spacing: 0;
      border-collapse: separate;

      th {
        text-align: left;
      }
      td {
        padding: 0;

        a {
          display: block;
        }

        &:last-child {
          padding-right: 0.55em !important;
        }
      }
    }

    .data-list {
      li {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0;

        .key {
          font-weight: bold;

          &::after {
            content: ': ';
          }
        }
        .value {
          font-weight: 450;
        }
      }
      .with-overflow {
        overflow: visible;
      }
    }
  }
}